Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

turn back on masquerade
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Homogenize cilium
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
  cluster-cd/apps/chongus/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Swap to minio replication destination
  cluster-cd/apps/base/_templates/volsync/b2.yaml
  cluster-cd/apps/base/_templates/volsync/claim.yaml
  cluster-cd/apps/base/_templates/volsync/minio.yaml
Labels: area/kubernetes

Split minio default
  cluster-cd/apps/base/_templates/volsync-minio-default/b2.yaml
  cluster-cd/apps/base/_templates/volsync-minio-default/claim.yaml
  cluster-cd/apps/base/_templates/volsync-minio-default/kustomization.yaml
  cluster-cd/apps/base/_templates/volsync-minio-default/minio.yaml
  cluster-cd/apps/base/_templates/volsync/minio.yaml
  cluster-cd/apps/bitty/downloads/sabnzbd/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Remove sabnzbd for now
  cluster-cd/apps/bitty/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Add back sabnzbd
  cluster-cd/apps/bitty/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Bitty Refresh
  cluster-cd/apps/bitty/downloads/prowlarr/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/radarr/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/readarr/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/sonarr/app/kustomization.yaml
  cluster-cd/apps/bitty/home/home-assistant/app/kustomization.yaml
  cluster-cd/apps/bitty/home/zwavejs/app/kustomization.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/kustomization.yaml
  cluster-cd/apps/bitty/media/calibre/app/kustomization.yaml
  cluster-cd/apps/bitty/media/jellyfin/app/kustomization.yaml
  cluster-cd/apps/bitty/media/stash/app/kustomization.yaml
  cluster-cd/apps/bitty/network/ingress-nginx/internal/helmrelease.yaml
  clusters/bitty/talos/talconfig.yaml
Labels: area/kubernetes, cluster/bitty

Fix IPs ingress-nginx
  cluster-cd/apps/bitty/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

IPv4 only for ingress
  cluster-cd/apps/bitty/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Add Readarr Calibre Tag Manager
  cluster-cd/apps/bitty/media/kustomization.yaml
  cluster-cd/apps/bitty/media/readarr-calibre-tag-manager/app/deployment.yaml
  cluster-cd/apps/bitty/media/readarr-calibre-tag-manager/app/ingress.yaml
  cluster-cd/apps/bitty/media/readarr-calibre-tag-manager/app/kustomization.yaml
  cluster-cd/apps/bitty/media/readarr-calibre-tag-manager/app/service.yaml
  cluster-cd/apps/bitty/media/readarr-calibre-tag-manager/ks.yaml
Labels: area/kubernetes, cluster/bitty

Update Calibre-Web
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

readarr-calibre-tag-manager
  cluster-cd/apps/bitty/media/readarr-calibre-tag-manager/app/kustomization.yaml
  cluster-cd/apps/bitty/media/readarr-calibre-tag-manager/app/service.yaml
Labels: area/kubernetes, cluster/bitty

Hook as part of calibre-web
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/externalsecret.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/kustomization.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/service.yaml
  cluster-cd/apps/bitty/media/kustomization.yaml
  cluster-cd/apps/bitty/media/readarr-calibre-tag-manager/app/service.yaml
Labels: area/kubernetes, cluster/bitty

Hook as part of calibre-web
  cluster-cd/apps/bitty/media/calibre-web/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Fix readarr url
  cluster-cd/apps/bitty/media/calibre-web/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

Temporarily remove hook
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Hook as part of calibre-web
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Disable health checks on hook
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Disable health checks on hook
  cluster-cd/apps/bitty/media/calibre-web/app/service.yaml
Labels: area/kubernetes, cluster/bitty

Update hook tag
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Update hook tag
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Bump tag manager version
  cluster-cd/apps/bitty/media/calibre-web/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Bump tag manager version
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Remove readarr-hook for the moment to rule it out
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Move calibre into calibre-web pod
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/ingress.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/kustomization.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/service.yaml
  cluster-cd/apps/bitty/media/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Add run emptydir
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
  cluster-cd/apps/bitty/media/calibre/app/ingress.yaml
  cluster-cd/apps/bitty/media/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Bump version, add seccomp
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Let calibre run as root :-(
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Let calibre run as root :-(
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Remove calibre-web for a sec
  cluster-cd/apps/bitty/media/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Add back calibre-web
  cluster-cd/apps/bitty/media/calibre-web/app/ingress.yaml
  cluster-cd/apps/bitty/media/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

More root shenanigans
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Move calibre config
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/pvc.yaml
Labels: area/kubernetes, cluster/bitty

Disable calibre
  cluster-cd/apps/bitty/media/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Remove SecurityContext for calibre
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Remove SecurityContext for calibre
  cluster-cd/apps/bitty/media/calibre-web/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Fix pvc
  cluster-cd/apps/bitty/media/calibre-web/app/pvc.yaml
Labels: area/kubernetes, cluster/bitty

Enable websockets for KasmVNC
  cluster-cd/apps/base/ingress-nginx/values.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/ingress.yaml
Labels: area/kubernetes, cluster/bitty

Separate Library from Database
  cluster-cd/apps/bitty/media/calibre/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Separate Library from Database
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-cd/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/chongus/**/*
