Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-cd/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/chongus/**/*

Add qbtools
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Fix cross-seed secret
  cluster-cd/apps/bitty/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

Fix cross-seed helmrepo
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Fix TZ
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Fix download svc endpoints for cross-seed
  cluster-cd/apps/bitty/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

Remove prune expired for now
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Switch to partial match mode
  cluster-cd/apps/bitty/downloads/cross-seed/app/externalsecret.yaml
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/resources/config.yaml
Labels: area/kubernetes, cluster/bitty

Back to strict mode while we're building ratio
  cluster-cd/apps/bitty/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

Autobrr announcements only
  cluster-cd/apps/bitty/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

Back to partial
  cluster-cd/apps/bitty/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

Back to strict
  cluster-cd/apps/bitty/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

Rename thelounge
  cluster-cd/apps/chongus/default/thelounge/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/thelounge/ks.yaml
Labels: area/kubernetes, cluster/chongus

Rename thelounge
  cluster-cd/apps/chongus/default/thelounge/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Remove thelounge for now
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Move thelounge to bitty
  cluster-cd/apps/bitty/default/thelounge/app/helmrelease.yaml
  cluster-cd/apps/bitty/default/thelounge/app/kustomization.yaml
  cluster-cd/apps/bitty/default/thelounge/ks.yaml
Labels: area/kubernetes, cluster/bitty

Move thelounge to bitty
  cluster-cd/apps/bitty/default/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Fix fsgroup
  cluster-cd/apps/bitty/default/thelounge/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Fix thelounge home
  cluster-cd/apps/bitty/default/thelounge/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Add back prune job
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Partial Matching for cross-seed
  cluster-cd/apps/bitty/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

Turn off prune for the moment
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Bump prune time for now
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/resources/config.yaml
Labels: area/kubernetes, cluster/bitty

Turn back on prune for now
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Exclude manual tag as well
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Add media mount to qbtools for orphaned
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Add delete-orphaned job
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Add kavita
  cluster-cd/apps/chongus/default/kavita/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/kavita/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Add kavita
  cluster-cd/apps/chongus/default/kavita/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/kavita/app/kustomization.yaml
  cluster-cd/apps/chongus/default/kavita/ks.yaml
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Add kavita
  cluster-cd/apps/chongus/default/kavita/ks.yaml
Labels: area/kubernetes, cluster/chongus

Add kavita
  cluster-cd/apps/chongus/default/kavita/ks.yaml
Labels: area/kubernetes, cluster/chongus

Upgrade rook on chongus
  cluster-cd/apps/chongus/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Remove kavita pvc for now
  cluster-cd/apps/chongus/default/kavita/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Add back kavita volume
  cluster-cd/apps/chongus/default/kavita/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Extend timeline on TL
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/resources/config.yaml
Labels: area/kubernetes, cluster/bitty

Add new test volume
  cluster-cd/apps/chongus/default/echo/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Add new test volume
  cluster-cd/apps/chongus/default/echo/ks.yaml
Labels: area/kubernetes, cluster/chongus

Change rook-ceph version on chongus
  cluster-cd/apps/chongus/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Move kavita to bitty
  cluster-cd/apps/bitty/default/kavita/app/helmrelease.yaml
  cluster-cd/apps/bitty/default/kavita/app/kustomization.yaml
  cluster-cd/apps/bitty/default/kavita/ks.yaml
  cluster-cd/apps/bitty/default/kustomization.yaml
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Change ingress name on kavita
  cluster-cd/apps/bitty/default/kavita/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

gluetun -> loadbalancer
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty
