Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-cd/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/chongus/**/*

New database pvc
  cluster-cd/apps/bitty/media/calibre-web/app/pvc.yaml
Labels: area/kubernetes, cluster/bitty

New database pvc
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Back to old pvc
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/pvc.yaml
Labels: area/kubernetes, cluster/bitty

Back to old pvc
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Lazy Load DB to minimize concurrent access
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Add back readarr hook
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

Add back readarr hook
  cluster-cd/apps/bitty/media/calibre-web/app/deployment.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Increase db size
  cluster-cd/apps/bitty/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/bitty

Restore cloudnative-pg from backup
  cluster-cd/apps/bitty/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/bitty

Restore cloudnative-pg from backup
  cluster-cd/apps/bitty/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/bitty

Remove cnpg cluster temporarily for restore
  cluster-cd/apps/bitty/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/bitty

Lazy Load DB to minimize concurrent access
  cluster-cd/apps/bitty/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/bitty

Add Awair Exporter
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/basement_deployment.yaml
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/bedroom_deployment.yaml
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/kitchen_deployment.yaml
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/kustomization.yaml
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/office_one_deployment.yaml
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/office_two_deployment.yaml
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/service.yaml
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/servicemonitor.yaml
  cluster-cd/apps/chongus/monitoring/awair-exporter/ks.yaml
  cluster-cd/apps/chongus/monitoring/kustomization.yaml
  clusters/chongus/flux/vars/cluster-secrets.cho.yaml
Labels: area/kubernetes, cluster/chongus

Bump Version on Awair Exporter
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/basement_deployment.yaml
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/bedroom_deployment.yaml
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/kitchen_deployment.yaml
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/office_one_deployment.yaml
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/office_two_deployment.yaml
Labels: area/kubernetes, cluster/chongus

Fix naming
  clusters/chongus/flux/vars/cluster-secrets.cho.yaml
Labels: none

Fix naming
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/kustomization.yaml
  clusters/chongus/flux/vars/cluster-secrets.cho.yaml
Labels: area/kubernetes, cluster/chongus

Fix Kitchen Reference
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/kitchen_deployment.yaml
Labels: area/kubernetes, cluster/chongus

Bump awair exporter version
  cluster-cd/apps/chongus/monitoring/awair-exporter/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Move Chongus to Minio Default
  cluster-cd/apps/chongus/default/factorio-space-ex/app/kustomization.yaml
  cluster-cd/apps/chongus/default/factorio-ultracube/app/kustomization.yaml
  cluster-cd/apps/chongus/default/minecraft-cpw/app/kustomization.yaml
  cluster-cd/apps/chongus/default/minecraft-vanilla/app/kustomization.yaml
  cluster-cd/apps/chongus/default/paperless-ngx/app/kustomization.yaml
  cluster-cd/apps/chongus/home/scrypted/app/kustomization.yaml
  cluster-cd/apps/chongus/media/jellyfin/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Fix chongus svcnet
  clusters/chongus/talos/talenv.sops.yaml
Labels: none

Fix cilium for Chongus
  cluster-cd/apps/base/_tools/wipediskjob.yaml
  cluster-cd/apps/chongus/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/chongus

Disable BGP Peering
  cluster-cd/apps/chongus/kube-system/cilium/app/helmrelease.yaml
  cluster-cd/apps/chongus/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Temporarily remove cephcluster
  cluster-cd/apps/base/_tools/wipediskjob.yaml
  cluster-cd/apps/chongus/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/chongus

add back cephcluster
  cluster-cd/apps/chongus/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/chongus

Bump talos version
  clusters/chongus/talos/talconfig.yaml
Labels: none

Separate CoreDNS deployment
  cluster-cd/apps/base/_tools/wipediskjob.yaml
  cluster-cd/apps/chongus/kube-system/kustomization.yaml
  clusters/chongus/talos/deploy-integrations.sh
  clusters/chongus/talos/integrations/coredns/kustomization.yaml
  clusters/chongus/talos/talconfig.yaml
Labels: area/kubernetes, cluster/chongus

Separate CoreDNS deployment
  cluster-cd/apps/chongus/kube-system/coredns/app/helmrelease.yaml
  cluster-cd/apps/chongus/kube-system/coredns/app/kustomization.yaml
  cluster-cd/apps/chongus/kube-system/coredns/app/kustomizeconfig.yaml
  cluster-cd/apps/chongus/kube-system/coredns/app/values.yaml
  cluster-cd/apps/chongus/kube-system/coredns/ks.yaml
Labels: area/kubernetes, cluster/chongus

Upgrade Kubernetes
  clusters/chongus/talos/talconfig.yaml
Labels: none

Fix coredns deployment
  cluster-cd/apps/chongus/kube-system/coredns/ks.yaml
Labels: area/kubernetes, cluster/chongus

Add coredns repo
  cluster-cd/apps/chongus/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  cluster-cd/repositories/helm/coredns.yaml
  cluster-cd/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Disable game servers
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Add bluesky personal data server
  cluster-cd/apps/chongus/default/bluesky/app/externalsecret.yaml
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/bluesky/app/kustomization.yaml
  cluster-cd/apps/chongus/default/bluesky/ks.yaml
  cluster-cd/apps/chongus/default/kustomization.yaml
  clusters/chongus/flux/vars/cluster-secrets.cho.yaml
Labels: area/kubernetes, cluster/chongus

Add volume for bluesky
  cluster-cd/apps/chongus/default/bluesky/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Add volume for bluesky
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Fix bluesky port
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Escape strings for bluesky env
  cluster-cd/apps/chongus/default/bluesky/app/externalsecret.yaml
Labels: area/kubernetes, cluster/chongus

Fix bluesky jwt
  cluster-cd/apps/chongus/default/bluesky/app/externalsecret.yaml
Labels: area/kubernetes, cluster/chongus

Use root user for bluesky to rule out permissions issues
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Remove bluesky temporarily
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Add back bluesky
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus
