Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

Don't route podcidrs
  cluster-cd/apps/bitty/kube-system/cilium/app/bgppeerconfig.yaml
Labels: area/kubernetes, cluster/bitty

Swap IPV6 to it's own client
  cluster-cd/apps/bitty/kube-system/cilium/app/bgppeerconfig.yaml
Labels: area/kubernetes, cluster/bitty

Separate AS for IPv6
  cluster-cd/apps/bitty/kube-system/cilium/app/bgpclusterconfig.yaml
Labels: area/kubernetes, cluster/bitty

Separate AS for IPv6
  clusters/bitty/flux/vars/cluster-secrets.bty.yaml
Labels: none

Try local peer
  clusters/bitty/flux/vars/cluster-secrets.bty.yaml
Labels: none

Swap back
  clusters/bitty/flux/vars/cluster-secrets.bty.yaml
Labels: none

Stop advertising v6 in favor of static routes
  cluster-cd/apps/base/_tools/netshoot.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/bgpclusterconfig.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/bgppeerconfig.yaml
  clusters/bitty/talos/talconfig.yaml
Labels: area/kubernetes, cluster/bitty

Stop advertising on BGP in general, in favor of ECMP static routes
  cluster-cd/apps/bitty/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Disable Keycloak Terraform
  cluster-cd/apps/bitty/flux-system/tf-controller/terraforms/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Move to default alpine base
  cluster-cd/apps/bitty/media/stash/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Add back IPv4 BGP
  cluster-cd/apps/bitty/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Turn off IPv6 for ingress nginx for troubleshooting
  cluster-cd/apps/bitty/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Temporarily switch to L2 mode
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
  cluster-cd/apps/chongus/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Temporarily switch to L2 mode
  cluster-cd/apps/chongus/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/chongus

Temporarily switch to L2 mode
  cluster-cd/apps/bitty/kube-system/cilium/app/kustomization.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
  cluster-cd/apps/chongus/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Temporarily switch to L2 mode
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Temporarily switch to L2 mode
  cluster-cd/apps/bitty/kube-system/cilium/app/kustomization.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Update scrypted version
  cluster-cd/apps/bitty/home/scrypted/app/helmrelease.yaml
  cluster-cd/apps/bitty/home/scrypted/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Disable ipv6 for prowlarr
  cluster-cd/apps/bitty/downloads/prowlarr/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Alpine fix
  cluster-cd/apps/bitty/downloads/recyclarr/app/cronjob.yaml
Labels: area/kubernetes, cluster/bitty

Switch away from nightly
  cluster-cd/apps/bitty/downloads/prowlarr/app/deployment.yaml
  cluster-cd/apps/bitty/downloads/prowlarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Switch away from nightly
  cluster-cd/apps/bitty/downloads/prowlarr/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Re-enable IPv6
  cluster-cd/apps/bitty/downloads/prowlarr/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Disable IPv6 Cluster wide
  cluster-cd/apps/bitty/kube-system/cilium/app/lbipam.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Exreme measures
  cluster-cd/apps/bitty/downloads/namespace.yaml
  cluster-cd/apps/bitty/downloads/prowlarr/app/deployment.yaml
  cluster-cd/apps/bitty/downloads/readarr/app/deployment.yaml
  clusters/bitty/talos/talconfig.yaml
Labels: area/kubernetes, cluster/bitty

Remove networkpolicy
  cluster-cd/apps/bitty/downloads/recyclarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Disable networkpolicy
  cluster-cd/apps/bitty/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Update Chongus for new VLANs
  clusters/chongus/flux/vars/cluster-secrets.cho.yaml
  clusters/chongus/talos/talconfig.yaml
  clusters/chongus/talos/talenv.sops.yaml
Labels: none

Cilium Update for Chongus
  cluster-cd/apps/chongus/kube-system/cilium/app/kustomization.yaml
  clusters/chongus/flux/vars/cluster-secrets.cho.yaml
  clusters/chongus/talos/talenv.sops.yaml
Labels: area/kubernetes, cluster/chongus

fix lb ipam
  clusters/chongus/flux/vars/cluster-secrets.cho.yaml
Labels: none

fix talconfig for Chongus
  clusters/chongus/talos/talconfig.yaml
Labels: none

Version bump
  clusters/chongus/talos/talconfig.yaml
Labels: none

Add dependencies
  cluster-cd/apps/chongus/monitoring/grafana/ks.yaml
  cluster-cd/apps/chongus/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/chongus

Throw memory at jellyfin
  cluster-cd/apps/chongus/media/jellyfin/app/deployment.yaml
Labels: area/kubernetes, cluster/chongus

Add back keycloak terraform
  cluster-cd/apps/bitty/flux-system/tf-controller/terraforms/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Add back bgppeeringpolicy
  cluster-cd/apps/chongus/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Fix IPv4 peer
  clusters/chongus/flux/vars/cluster-secrets.cho.yaml
Labels: none

Move scrypted back to chongus
  cluster-cd/apps/bitty/home/kustomization.yaml
  cluster-cd/apps/bitty/home/scrypted/app/helmrelease.yaml
  cluster-cd/apps/bitty/home/scrypted/app/kustomization.yaml
  cluster-cd/apps/bitty/home/scrypted/app/restore-fix.yaml
  cluster-cd/apps/bitty/home/scrypted/ks.yaml
  cluster-cd/apps/chongus/home/kustomization.yaml
  cluster-cd/apps/chongus/home/scrypted/app/helmrelease.yaml
  cluster-cd/apps/chongus/home/scrypted/app/kustomization.yaml
  cluster-cd/apps/chongus/home/scrypted/app/restore.yaml
  cluster-cd/apps/chongus/home/scrypted/ks.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Move paperless-ngx back to chongus
  cluster-cd/apps/bitty/default/kustomization.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/app/externalsecret.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/app/helmrelease.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/app/kustomization.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/ks.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/redis/helmrelease.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/redis/kustomization.yaml
  cluster-cd/apps/chongus/default/paperless-ngx/app/kustomization.yaml
  cluster-cd/apps/chongus/default/paperless-ngx/app/restore.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Move paperless-ngx back to chongus
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-cd/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/chongus/**/*
