Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-cd/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/chongus/**/*

Add komga to komf
  cluster-cd/apps/bitty/default/komf/app/config/application.yml
  cluster-cd/apps/bitty/default/komf/app/externalsecret.yaml
  cluster-cd/apps/bitty/default/komf/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

fix subpath for suwayomi
  cluster-cd/apps/bitty/downloads/suwayomi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Up gatus to 1GB ram
  cluster-cd/apps/bitty/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Pin qbittorrent version
  .github/renovate/allowedVersions.json5
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/ci, area/kubernetes, cluster/bitty

Add books to exclude list
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/resources/config.yaml
Labels: area/kubernetes, cluster/bitty

Add flux instance & operator
  cluster-apps/chongus/flux-system/flux-operator/app/helmrelease.yaml
  cluster-apps/chongus/flux-system/flux-operator/app/kustomization.yaml
  cluster-apps/chongus/flux-system/flux-operator/app/kustomizeconfig.yaml
  cluster-apps/chongus/flux-system/flux-operator/app/ocirepository.yaml
  cluster-apps/chongus/flux-system/flux-operator/app/values.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/github/kustomization.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/github/webhooks/externalsecret.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/github/webhooks/httproute.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/github/webhooks/kustomization.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/github/webhooks/receiver.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/helmrelease.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/kustomization.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/kustomizeconfig.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/ocirepository.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/prometheusrule.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/values.yaml
  cluster-apps/chongus/flux-system/flux-operator/ks.yaml
Labels: none

Add second PDS for new domain
  cluster-cd/apps/bitty/default/bluesky/app2/externalsecret.yaml
  cluster-cd/apps/bitty/default/bluesky/app2/helmrelease.yaml
  cluster-cd/apps/bitty/default/bluesky/app2/kustomization.yaml
  cluster-cd/apps/bitty/default/bluesky/ks.yaml
Labels: area/kubernetes, cluster/bitty

Continue work on new chongus
  .taskfiles/sops/Taskfile.yaml
  TARGET_LAYOUT.md
  cluster-apps/chongus/flux-system/flux-operator/instance/values.yaml
  clusters/base/flux/repositories/git/kustomization.yaml
  clusters/base/flux/repositories/helm/kustomization.yaml
  clusters/base/flux/repositories/kustomization.yaml
  clusters/base/flux/repositories/oci/app-template.yaml
  clusters/base/flux/repositories/oci/kustomization.yaml
  clusters/chongus-new/flux/cluster/cluster.yaml
Labels: none

Add red
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/resources/config.yaml
Labels: area/kubernetes, cluster/bitty

Add OPS
  cluster-cd/apps/bitty/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

Add OPS
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/resources/config.yaml
Labels: area/kubernetes, cluster/bitty

Remove MAM
  cluster-cd/apps/bitty/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

Fix OPS
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/resources/config.yaml
Labels: area/kubernetes, cluster/bitty

Expand cross-seed volume
  cluster-cd/apps/bitty/downloads/cross-seed/ks.yaml
Labels: area/kubernetes, cluster/bitty

Remove second bluesky app
  cluster-cd/apps/bitty/default/bluesky/ks.yaml
Labels: area/kubernetes, cluster/bitty

Working cluster?
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  cluster-apps/chongus/kube-system/cilium/config/lbipam.yaml
  clusters/chongus-new/bootstrap/helmfile.yaml
  clusters/chongus-old/bootstrap/bootstrap_flux.sh
  clusters/chongus-old/bootstrap/github-deploy-key.cho.yaml
  clusters/chongus-old/bootstrap/kustomization.yaml
  clusters/chongus-old/bootstrap/sops-age.cho.yaml
  clusters/chongus-old/flux/apps.yaml
  clusters/chongus-old/flux/config/cluster.yaml
  clusters/chongus-old/flux/config/flux.yaml
  clusters/chongus-old/flux/config/kustomization.yaml
  clusters/chongus-old/flux/repositories.yaml
  clusters/chongus-old/flux/vars/cluster-secrets.cho.yaml
  clusters/chongus-old/talos/clusterconfig/.gitignore
  clusters/chongus-old/talos/deploy-integrations.sh
  clusters/chongus-old/talos/generate-clusterconfig.sh
  clusters/chongus-old/talos/integrations/cni/kustomization.yaml
  clusters/chongus-old/talos/integrations/coredns/kustomization.yaml
  clusters/chongus-old/talos/integrations/kubelet-csr-approver/kustomization.yaml
  clusters/chongus-old/talos/talconfig.yaml
  clusters/chongus-old/talos/talenv.sops.yaml
  clusters/chongus-old/talos/talsecret.sops.yaml
  clusters/chongus/bootstrap/helmfile.d/00-crds.yaml
  clusters/chongus/bootstrap/helmfile.d/01-apps.yaml
  clusters/chongus/bootstrap/resources/github-deploy-key.cho.yaml
  clusters/chongus/bootstrap/resources/namespaces.yaml
  clusters/chongus/bootstrap/resources/sops-age.cho.yaml
  clusters/chongus/bootstrap/templates/wipe-rook.yaml.gotmpl
  clusters/chongus/flux/cluster/cluster.yaml
  clusters/chongus/talos/talconfig.yaml
Labels: none

Fixes for Chongus
  cluster-apps/chongus/flux-system/flux-operator/instance/values.yaml
Labels: none

Add missing components
  cluster-apps/components/flux/alerts/alert.yaml
  cluster-apps/components/flux/alerts/kustomization.yaml
  cluster-apps/components/flux/alerts/provider.yaml
  cluster-apps/components/namespace/kustomization.yaml
  cluster-apps/components/namespace/namespace.yaml
Labels: none

Add namespace to cert-manager
  cluster-apps/base/cert-manager/app/kustomization.yaml
Labels: none

Add namespace to flux-operator
  cluster-apps/chongus/flux-system/flux-operator/instance/kustomization.yaml
Labels: none

Add namespace to flux-operator
  cluster-apps/chongus/flux-system/flux-operator/app/kustomization.yaml
Labels: none

Fix CRD version for ExternalSecrets
  cluster-apps/base/cert-manager/issuers/externalsecret.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/github/webhooks/externalsecret.yaml
Labels: none

Add externalsecrets to Chongus
  cluster-apps/base/cert-manager/issuers/externalsecret.yaml
  cluster-apps/chongus/external-secrets/external-secrets/app/helmrelease.yaml
  cluster-apps/chongus/external-secrets/external-secrets/app/kustomization.yaml
  cluster-apps/chongus/external-secrets/external-secrets/app/ocirepository.yaml
  cluster-apps/chongus/external-secrets/external-secrets/ks.yaml
  cluster-apps/chongus/external-secrets/external-secrets/stores/doppler/clusterstore.yaml
  cluster-apps/chongus/external-secrets/external-secrets/stores/doppler/dopplertoken.cho.yaml
  cluster-apps/chongus/external-secrets/external-secrets/stores/doppler/kustomization.yaml
  cluster-apps/chongus/external-secrets/kustomization.yaml
Labels: none

Add externalsecrets to Chongus
  cluster-apps/chongus/cert-manager/cert-manager/kustomization.yaml
Labels: none

Fix cert-manager namespace
  cluster-apps/chongus/cert-manager/kustomization.yaml
Labels: none

Remove email from cert-manager
  cluster-apps/base/cert-manager/issuers/issuer-letsencrypt-prod.yaml
  cluster-apps/base/cert-manager/issuers/issuer-letsencrypt-staging.yaml
  cluster-apps/chongus/external-secrets/external-secrets/app/helmrelease.yaml
  cluster-apps/chongus/external-secrets/external-secrets/app/ocirepository.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/github/webhooks/httproute.yaml
  cluster-apps/chongus/kube-system/cilium/gateway/gateway-external.yaml
Labels: none

Remove email from cert-manager
  cluster-apps/chongus/kube-system/cilium/gateway/certificate.yaml
  cluster-apps/chongus/kube-system/cilium/gateway/gateway-external.yaml
  cluster-apps/chongus/kube-system/cilium/gateway/gateway-internal.yaml
Labels: none

Remove email from cert-manager
  cluster-apps/chongus/cert-manager/kustomization.yaml
  cluster-apps/chongus/external-secrets/kustomization.yaml
Labels: none

Remove components from kube-system
  cluster-apps/chongus/kube-system/kustomization.yaml
Labels: none

fix bad references
  cluster-apps/chongus/cert-manager/cert-manager/ks.yaml
  cluster-apps/chongus/external-secrets/external-secrets/ks.yaml
  cluster-apps/chongus/flux-system/flux-operator/ks.yaml
  cluster-apps/chongus/kube-system/cilium/ks.yaml
  cluster-apps/chongus/kube-system/coredns/ks.yaml
Labels: none

fix bad references
  cluster-apps/chongus/kube-system/cilium/app/helmrelease.yaml
  cluster-apps/chongus/kube-system/cilium/app/helmrepository.yaml
  cluster-apps/chongus/kube-system/cilium/app/kustomization.yaml
  cluster-apps/chongus/kube-system/cilium/app/ocirepository.yaml
Labels: none

fix bad references
  cluster-apps/chongus/external-secrets/external-secrets/app/ocirepository.yaml
  cluster-apps/chongus/kube-system/cilium/app/ocirepository.yaml
Labels: none

add cert-manager ocirepository
  cluster-apps/base/cert-manager/app/kustomization.yaml
  cluster-apps/base/cert-manager/app/ocirepository.yaml
Labels: none

add cert-manager ocirepository
  cluster-apps/chongus/cert-manager/cert-manager/app/kustomization.yaml
Labels: none

Fix typo in cert-manager ocirepository
  cluster-apps/base/cert-manager/app/ocirepository.yaml
Labels: none

Fix cilium values
  cluster-apps/chongus/kube-system/cilium/app/values.yaml
  test
Labels: none

Fix dependencies
  cluster-apps/chongus/cert-manager/cert-manager/ks.yaml
  cluster-apps/chongus/external-secrets/external-secrets/ks.yaml
  cluster-apps/chongus/kube-system/cilium/ks.yaml
Labels: none

Fix dependencies
  cluster-apps/chongus/cert-manager/cert-manager/ks.yaml
Labels: none

Fix dependencies
  cluster-apps/chongus/external-secrets/external-secrets/stores/doppler/kustomization.yaml
Labels: none

Fix clusterstore version
  cluster-apps/chongus/external-secrets/external-secrets/stores/doppler/clusterstore.yaml
Labels: none
