Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-cd/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/chongus/**/*

Move Scrypted to Bitty
  cluster-cd/apps/bitty/home/kustomization.yaml
  cluster-cd/apps/bitty/home/scrypted/app/helmrelease.yaml
  cluster-cd/apps/bitty/home/scrypted/app/kustomization.yaml
  cluster-cd/apps/bitty/home/scrypted/app/restore.yaml
  cluster-cd/apps/bitty/home/scrypted/ks.yaml
Labels: area/kubernetes, cluster/bitty

Move Scrypted to Bitty
  cluster-cd/apps/chongus/home/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Move Scrypted to Bitty
  cluster-cd/apps/bitty/home/scrypted/ks.yaml
Labels: area/kubernetes, cluster/bitty

Remove Nvidia stuff from scrypted
  cluster-cd/apps/bitty/home/scrypted/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Remove Nvidia stuff from scrypted
  cluster-cd/apps/bitty/home/scrypted/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Move paperless-ngx to bitty
  cluster-cd/apps/bitty/default/kustomization.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/app/externalsecret.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/app/helmrelease.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/app/kustomization.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/app/restore.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/ks.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/redis/helmrelease.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/redis/kustomization.yaml
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

fix paperless
  cluster-cd/apps/bitty/default/paperless-ngx/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

fix paperless
  cluster-cd/apps/bitty/default/paperless-ngx/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

fix paperless
  cluster-cd/apps/bitty/default/paperless-ngx/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

fix paperless
  cluster-cd/apps/bitty/default/paperless-ngx/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Remove temporary restores
  cluster-cd/apps/bitty/default/paperless-ngx/app/kustomization.yaml
  cluster-cd/apps/bitty/home/scrypted/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Restore scrypted from backups
  cluster-cd/apps/bitty/home/scrypted/app/kustomization.yaml
  cluster-cd/apps/bitty/home/scrypted/app/restore-fix.yaml
Labels: area/kubernetes, cluster/bitty

Restore scrypted from backups
  cluster-cd/apps/bitty/home/scrypted/app/restore-fix.yaml
Labels: area/kubernetes, cluster/bitty

Restore scrypted from backups
  cluster-cd/apps/bitty/home/scrypted/app/restore-fix.yaml
Labels: area/kubernetes, cluster/bitty

Restore scrypted from backups
  cluster-cd/apps/bitty/home/scrypted/app/restore-fix.yaml
Labels: area/kubernetes, cluster/bitty

Restore scrypted from backups
  cluster-cd/apps/bitty/home/scrypted/app/restore-fix.yaml
Labels: area/kubernetes, cluster/bitty

Restore scrypted from backups
  cluster-cd/apps/bitty/home/scrypted/app/restore-fix.yaml
Labels: area/kubernetes, cluster/bitty

Update Bitty for new VLANs
  cluster-cd/apps/chongus/default/factorio-space-ex/app/helmrelease.yaml
  clusters/bitty/flux/vars/cluster-secrets.bty.yaml
  clusters/bitty/talos/bash
  clusters/bitty/talos/talconfig.yaml
Labels: area/kubernetes, cluster/chongus

Update Bitty for new VLANs
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
  clusters/bitty/flux/vars/cluster-secrets.bty.yaml
  clusters/bitty/talos/talconfig.yaml
Labels: area/kubernetes, cluster/bitty

Trigger rook-ceph re-run
  cluster-cd/apps/base/_tools/wipediskjob.yaml
  cluster-cd/apps/base/_tools/wiperookdata.yaml
  cluster-cd/apps/bitty/rook-ceph/namespace.yaml
Labels: area/kubernetes, cluster/bitty

Add rook-ceph-cluster dependency to more things
  cluster-cd/apps/bitty/default/paperless-ngx/ks.yaml
  cluster-cd/apps/bitty/home/scrypted/ks.yaml
  cluster-cd/apps/bitty/media/calibre-web/ks.yaml
  cluster-cd/apps/bitty/media/calibre/ks.yaml
Labels: area/kubernetes, cluster/bitty

Fix talenv
  cluster-cd/apps/base/_tools/wiperookdata.yaml
  cluster-cd/apps/bitty/database/cloudnative-pg/ks.yaml
  cluster-cd/apps/bitty/monitoring/kube-prometheus-stack/ks.yaml
  cluster-cd/apps/bitty/rook-ceph/rook-ceph/ks.yaml
  clusters/bitty/talos/talenv.sops.yaml
Labels: area/kubernetes, cluster/bitty

Fix bgp
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
  clusters/bitty/flux/vars/cluster-secrets.bty.yaml
Labels: area/kubernetes, cluster/bitty

Add auto-restore from b2 for now
  cluster-cd/apps/base/_templates/volsync/b2.yaml
Labels: area/kubernetes

Add auto-restore from b2 for now
  cluster-cd/apps/base/_templates/volsync/minio.yaml
Labels: area/kubernetes

Swap replicationdestination
  cluster-cd/apps/base/_templates/volsync/claim.yaml
Labels: area/kubernetes

Bump rook-ceph version
  cluster-cd/apps/base/_tools/wipediskjob.yaml
  cluster-cd/apps/bitty/rook-ceph/rook-ceph/app/helmrelease.yaml
  cluster-cd/apps/bitty/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Add memory to osd for no reason
  cluster-cd/apps/bitty/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Update to latest bgppeeringconfigs
  cluster-cd/apps/bitty/kube-system/cilium/app/bgpadvertisements.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/bgpclusterconfig.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/bgppeerconfig.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/kustomization.yaml
  clusters/bitty/flux/vars/cluster-secrets.bty.yaml
Labels: area/kubernetes, cluster/bitty

Disable extra restore for scrypted
  cluster-cd/apps/base/_tools/wipediskjob.yaml
  cluster-cd/apps/base/_tools/wiperookdata.yaml
  cluster-cd/apps/bitty/home/scrypted/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Add matchExpression
  cluster-cd/apps/bitty/kube-system/cilium/app/bgpadvertisements.yaml
Labels: area/kubernetes, cluster/bitty

back to peeringpolicy for now
  cluster-cd/apps/bitty/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Disable ipv6 peer for now
  cluster-cd/apps/bitty/kube-system/cilium/app/bgppeeringpolicy.yaml
Labels: area/kubernetes, cluster/bitty

Update lbipam
  clusters/bitty/flux/vars/cluster-secrets.bty.yaml
Labels: none

Update nginx svc ip
  clusters/bitty/flux/vars/cluster-secrets.bty.yaml
Labels: none

Add back IPv6 peer
  cluster-cd/apps/bitty/kube-system/cilium/app/bgppeeringpolicy.yaml
Labels: area/kubernetes, cluster/bitty

Switch to bgpclusterconfig
  cluster-cd/apps/bitty/kube-system/cilium/app/bgpclusterconfig.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/bgppeerconfig.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Don't route podcidrs
  cluster-cd/apps/bitty/kube-system/cilium/app/bgpadvertisements.yaml
Labels: area/kubernetes, cluster/bitty

Don't route podcidrs
  cluster-cd/apps/bitty/kube-system/cilium/app/bgppeerconfig.yaml
Labels: area/kubernetes, cluster/bitty

Don't route podcidrs
  cluster-cd/apps/bitty/kube-system/cilium/app/bgppeerconfig.yaml
Labels: area/kubernetes, cluster/bitty
