Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-cd/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/chongus/**/*

Add gatus to downloads
  cluster-cd/apps/bitty/downloads/prowlarr/ks.yaml
  cluster-cd/apps/bitty/downloads/radarr/ks.yaml
  cluster-cd/apps/bitty/downloads/readarr/ks.yaml
  cluster-cd/apps/bitty/downloads/sabnzbd/ks.yaml
  cluster-cd/apps/bitty/downloads/sonarr/ks.yaml
  cluster-cd/apps/bitty/monitoring/gatus/app/config/config.yaml
  cluster-cd/apps/components/gatus/config.yaml
  cluster-cd/apps/components/gatus/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Fix components path{
  cluster-cd/apps/bitty/downloads/prowlarr/ks.yaml
  cluster-cd/apps/bitty/downloads/radarr/ks.yaml
  cluster-cd/apps/bitty/downloads/readarr/ks.yaml
  cluster-cd/apps/bitty/downloads/sabnzbd/ks.yaml
  cluster-cd/apps/bitty/downloads/sonarr/ks.yaml
Labels: area/kubernetes, cluster/bitty

Move components out of apps
  cluster-cd/apps/bitty/downloads/prowlarr/ks.yaml
  cluster-cd/apps/bitty/downloads/radarr/ks.yaml
  cluster-cd/apps/bitty/downloads/readarr/ks.yaml
  cluster-cd/apps/bitty/downloads/sabnzbd/ks.yaml
  cluster-cd/apps/bitty/downloads/sonarr/ks.yaml
  cluster-cd/apps/components/gatus/config.yaml
  cluster-cd/apps/components/gatus/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Add gatus components
  cluster-cd/components/gatus/config.yaml
  cluster-cd/components/gatus/kustomization.yaml
Labels: area/kubernetes

Add --- to config
  cluster-cd/components/gatus/config.yaml
Labels: area/kubernetes

move gatus to template
  cluster-cd/apps/base/_templates/gatus/config.yaml
  cluster-cd/apps/base/_templates/gatus/kustomization.yaml
  cluster-cd/apps/bitty/downloads/radarr/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/radarr/ks.yaml
  cluster-cd/apps/bitty/downloads/readarr/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/readarr/ks.yaml
  cluster-cd/apps/bitty/downloads/sabnzbd/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/sabnzbd/ks.yaml
  cluster-cd/apps/bitty/downloads/sonarr/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/sonarr/ks.yaml
Labels: area/kubernetes, cluster/bitty

move gatus to template
  cluster-cd/apps/bitty/downloads/prowlarr/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/prowlarr/ks.yaml
Labels: area/kubernetes, cluster/bitty

fix gatus subdomain for sabnzbd
  cluster-cd/apps/bitty/downloads/sabnzbd/ks.yaml
Labels: area/kubernetes, cluster/bitty

Gatus Endpoints
  cluster-cd/apps/bitty/home/home-assistant/app/kustomization.yaml
  cluster-cd/apps/bitty/home/home-assistant/ks.yaml
  cluster-cd/apps/bitty/home/mosquitto/app/gatus.yaml
  cluster-cd/apps/bitty/media/calibre-web/app/kustomization.yaml
  cluster-cd/apps/bitty/media/calibre-web/ks.yaml
  cluster-cd/apps/bitty/media/calibre/app/deployment.yaml
  cluster-cd/apps/bitty/media/calibre/app/ingress.yaml
  cluster-cd/apps/bitty/media/calibre/app/kustomization.yaml
  cluster-cd/apps/bitty/media/calibre/app/restore.yaml
  cluster-cd/apps/bitty/media/calibre/app/service.yaml
  cluster-cd/apps/bitty/media/calibre/ks.yaml
  cluster-cd/apps/bitty/media/jellyfin/app/deployment.yaml
  cluster-cd/apps/bitty/media/jellyfin/app/ingress.yaml
  cluster-cd/apps/bitty/media/jellyfin/app/kustomization.yaml
  cluster-cd/apps/bitty/media/jellyfin/app/restore.yaml
  cluster-cd/apps/bitty/media/jellyfin/app/service.yaml
  cluster-cd/apps/bitty/media/jellyfin/ks.yaml
  cluster-cd/apps/bitty/media/readarr-calibre-tag-manager/app/deployment.yaml
  cluster-cd/apps/bitty/media/readarr-calibre-tag-manager/app/ingress.yaml
  cluster-cd/apps/bitty/media/readarr-calibre-tag-manager/app/kustomization.yaml
  cluster-cd/apps/bitty/media/readarr-calibre-tag-manager/app/service.yaml
  cluster-cd/apps/bitty/media/readarr-calibre-tag-manager/ks.yaml
  cluster-cd/apps/bitty/media/stash/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Add Chongus endpoints to Gatus
  cluster-cd/apps/bitty/home/home-assistant/ks.yaml
  cluster-cd/apps/bitty/monitoring/gatus/app/config/config.yaml
Labels: area/kubernetes, cluster/bitty

Add Chongus endpoints to Gatus
  cluster-cd/apps/bitty/monitoring/gatus/app/config/config.yaml
Labels: area/kubernetes, cluster/bitty

Fix shlink lookup
  cluster-cd/apps/bitty/monitoring/gatus/app/config/config.yaml
Labels: area/kubernetes, cluster/bitty

Update playbooks
  pis/roles/blocky/handlers/restart-networking.yaml
  pis/roles/blocky/tasks/main.yaml
  pis/roles/blocky/templates/config.yaml.j2
  pis/roles/coredns/templates/corefile
  pis/roles/dns-over-https/defaults/main.yaml
  pis/roles/dns-over-https/handlers/main.yaml
  pis/roles/dns-over-https/templates/cloudflared.service.j2
  pis/roles/raspi-monitor/defaults/main.yaml
  pis/roles/raspi-monitor/tasks/main.yaml
  pis/roles/raspi-monitor/tasks/orange-pi.yaml
  pis/roles/raspi-monitor/tasks/raspberry-pi.yaml
  pis/roles/secure-ssh/defaults/main.yaml
  pis/roles/secure-ssh/handlers/main.yaml
  pis/roles/secure-ssh/tasks/main.yaml
  pis/roles/tailscaled/tasks/main.yaml
  pis/site.yaml
Labels: none

Automerge all patches
  .github/renovate/autoMerge.json5
Labels: area/ci

Remove references to onedr0p/alpine
  cluster-cd/apps/bitty/downloads/recyclarr/app/kustomization.yaml
  cluster-cd/apps/bitty/home/frigate/app/config/config.yml
  cluster-cd/apps/bitty/home/frigate/app/deployment.yaml
  cluster-cd/apps/bitty/home/frigate/app/externalsecret.yaml
  cluster-cd/apps/bitty/home/frigate/app/ingress.yaml
  cluster-cd/apps/bitty/home/frigate/app/kustomization.yaml
  cluster-cd/apps/bitty/home/frigate/app/media-pvc.yaml
  cluster-cd/apps/bitty/home/frigate/app/pvc.yaml
  cluster-cd/apps/bitty/home/frigate/app/service.yaml
  cluster-cd/apps/bitty/home/frigate/ks.yaml
  cluster-cd/apps/bitty/home/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Revert automerge change
  .github/renovate/autoMerge.json5
Labels: area/ci

Automerge patch, pin, digest
  .github/renovate/autoMerge.json5
Labels: area/ci

Add simple checks workflow
  ansible/roles/keepalived/templates/keepalived.service.j2
Labels: none

Add simple checks workflow
  .github/workflows/simple-checks.yaml
Labels: area/ci

Add On PR Workflow
  .github/workflows/on-pr.yaml
Labels: area/ci

Fix config location for yamllint in workflow
  .github/workflows/simple-checks.yaml
Labels: area/ci

Add IPv6 to Keepalived
  ansible/keepalived_secrets.yaml
  ansible/roles/blocky/templates/blocky.service.j2
  ansible/roles/blocky/templates/config.yaml.j2
  ansible/roles/keepalived/templates/keepalived.conf.j2
Labels: none

Add minor version automerge
  .github/renovate/autoMerge.json5
Labels: area/ci

Never automerge cilium
  .github/renovate/autoMerge.json5
Labels: area/ci

Remove Apex CNAME from bluesky external-dns#5035
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Fix cert-manager values
  cluster-cd/apps/base/cert-manager/values.yaml
Labels: area/kubernetes

Temporarily disable shlink
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

allowInsecureImages thanos
  cluster-cd/apps/base/thanos/values.yaml
Labels: area/kubernetes

Add required namespaceSelector to kyverno
  cluster-cd/apps/base/kyverno/values.yaml
Labels: area/kubernetes

Move to recommended thanos container
  cluster-cd/apps/base/thanos/values.yaml
Labels: area/kubernetes

Remove repeated compact.concurrency arg
  cluster-cd/apps/base/thanos/values.yaml
Labels: area/kubernetes

Add back concurrency as value in values
  cluster-cd/apps/base/thanos/values.yaml
Labels: area/kubernetes

Disable Spegel on Bitty
  cluster-cd/apps/bitty/system/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Fix cpu-limits policy
  cluster-cd/apps/bitty/security/kyverno/policies/remove-cpu-limits.yaml
  cluster-cd/apps/chongus/security/kyverno/policies/kustomization.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Add LB for Scrypted
  cluster-cd/apps/chongus/home/scrypted/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Add HTTPS port?
  cluster-cd/apps/chongus/home/scrypted/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Add paperless-ai
  cluster-cd/apps/chongus/default/paperless-ngx/ai/helmrelease.yaml
  cluster-cd/apps/chongus/default/paperless-ngx/ai/kustomization.yaml
  cluster-cd/apps/chongus/default/paperless-ngx/ks.yaml
Labels: area/kubernetes, cluster/chongus

Add volsync claim for paperless-ai
  cluster-cd/apps/chongus/default/paperless-ngx/ks.yaml
Labels: area/kubernetes, cluster/chongus

onedr0p -> home-operations
  .github/renovate/versioning.json5
  cluster-cd/apps/base/keycloak/values.yaml
  cluster-cd/apps/bitty/downloads/prowlarr/app/deployment.yaml
  cluster-cd/apps/bitty/downloads/prowlarr/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/radarr/app/deployment.yaml
  cluster-cd/apps/bitty/downloads/radarr/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/readarr/app/deployment.yaml
  cluster-cd/apps/bitty/downloads/readarr/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/sabnzbd/app/deployment.yaml
  cluster-cd/apps/bitty/downloads/sabnzbd/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/sonarr/app/deployment.yaml
  cluster-cd/apps/bitty/downloads/sonarr/app/kustomization.yaml
  cluster-cd/apps/bitty/home/home-assistant/app/deployment.yaml
  cluster-cd/apps/bitty/home/home-assistant/app/kustomization.yaml
  cluster-cd/apps/chongus/default/atuin/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/shlink/app/helmrelease.yaml
Labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

Update cpu limit policy, kyverno
  cluster-cd/apps/bitty/security/kyverno/policies/remove-cpu-limits.yaml
Labels: area/kubernetes, cluster/bitty
