Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-cd/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/chongus/**/*

Restore earlier backup for paperless
  cluster-cd/apps/chongus/default/paperless-ngx/app/restore.yaml
Labels: area/kubernetes, cluster/chongus

Add cilium tuning
  cluster-cd/apps/chongus/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/chongus

Turn back off netkit
  cluster-cd/apps/chongus/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/chongus

Add back IPv6 to Nginx Chongus
  cluster-cd/apps/chongus/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Add back IPv6 to Nginx Chongus
  cluster-cd/apps/chongus/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Add back IPv6 to Cilium
  cluster-cd/apps/bitty/kube-system/cilium/app/lbipam.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
  clusters/bitty/talos/deploy-integrations.sh
  clusters/bitty/talos/talconfig.yaml
Labels: area/kubernetes, cluster/bitty

Update to use spegel helm repo
  cluster-cd/apps/bitty/system/spegel/app/helmrelease.yaml
  cluster-cd/repositories/helm/kustomization.yaml
  cluster-cd/repositories/helm/spegel.yaml
Labels: area/kubernetes, cluster/bitty

Remove pod gateway
  cluster-cd/apps/bitty/vpn/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Remove init container
  cluster-cd/apps/bitty/downloads/recyclarr/app/config/recyclarr.yaml
  cluster-cd/apps/bitty/downloads/recyclarr/app/cronjob.yaml
Labels: area/kubernetes, cluster/bitty

Remove emptyDir
  cluster-cd/apps/bitty/downloads/recyclarr/app/cronjob.yaml
Labels: area/kubernetes, cluster/bitty

Add back secrets
  cluster-cd/apps/bitty/downloads/recyclarr/app/cronjob.yaml
Labels: area/kubernetes, cluster/bitty

Update recyclarr configs
  cluster-cd/apps/bitty/downloads/recyclarr/app/config/recyclarr.yaml
Labels: area/kubernetes, cluster/bitty

Update recyclarr configs
  cluster-cd/apps/bitty/downloads/recyclarr/app/config/recyclarr.yaml
Labels: area/kubernetes, cluster/bitty

Remove extraneous restores
  cluster-cd/apps/chongus/default/paperless-ngx/app/kustomization.yaml
  cluster-cd/apps/chongus/home/scrypted/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Switch to l2announcements for chongus LBs
  cluster-cd/apps/chongus/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/chongus

Switch back to bgp, but remove envoy
  cluster-cd/apps/chongus/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/chongus

Update bitty to match chongus cilium
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Add echo server
  cluster-cd/apps/chongus/default/echo/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/echo/ks.yaml
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Add https to echo
  cluster-cd/apps/chongus/default/echo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Add echo servers
  cluster-cd/apps/bitty/default/echo/app/helmrelease.yaml
  cluster-cd/apps/bitty/default/echo/ks.yaml
  cluster-cd/apps/bitty/default/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Fix yaml
  cluster-cd/apps/bitty/default/echo/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/echo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Add L2Announcements
  cluster-cd/apps/bitty/kube-system/cilium/app/kustomization.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/l2announcement.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Add L2Announcements
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

All interfaces?
  cluster-cd/apps/bitty/kube-system/cilium/app/l2announcement.yaml
Labels: area/kubernetes, cluster/bitty

Back to bgp...
  cluster-cd/apps/bitty/kube-system/cilium/app/kustomization.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Echo stuff
  cluster-cd/apps/bitty/default/echo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Update log format nginx
  cluster-cd/apps/base/ingress-nginx/values.yaml
Labels: area/kubernetes

app -> main
  cluster-cd/apps/bitty/default/echo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Update log format nginx
  cluster-cd/apps/base/ingress-nginx/values.yaml
Labels: area/kubernetes

Add direct service IP for echo server
  cluster-cd/apps/bitty/default/echo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Switch to l2announcement again
  cluster-cd/apps/bitty/kube-system/cilium/app/kustomization.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Rely on static routes for bitty LBs
  cluster-cd/apps/bitty/kube-system/cilium/app/kustomization.yaml
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Disable bandwidth manager
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Remove extraneous cilium config
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Add device filter
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Upgrade cilium
  cluster-cd/apps/bitty/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Maybe disable endpoint routes?
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Maybe disable endpoint routes?
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Remove bigtcp
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

Turn off bpf masquerade
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty
