Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-apps/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-apps/chongus/**/*

Fix lints
  cluster-apps/base/descheduler/app/helmrelease.yaml
  cluster-apps/base/descheduler/app/kustomization.yaml
  cluster-apps/base/descheduler/app/ocirepository.yaml
  cluster-apps/chongus/system/descheduler/ks.yaml
  cluster-apps/chongus/system/reloader/ks.yaml
  cluster-apps/chongus/system/spegel/ks.yaml
Labels: area/kubernetes, cluster/chongus

chore: [chongus] Add descheduler
  cluster-apps/base/descheduler/app/helmrelease.yaml
  cluster-apps/base/descheduler/app/kustomization.yaml
  cluster-apps/base/descheduler/app/ocirepository.yaml
  cluster-apps/chongus/system/descheduler/ks.yaml
  cluster-apps/chongus/system/reloader/ks.yaml
Labels: area/kubernetes, cluster/chongus

fix: add descheduler to kustomization.yaml
  cluster-apps/chongus/system/descheduler/ks.yaml
  cluster-apps/chongus/system/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

update flux version
  cluster-apps/chongus/flux-system/flux-operator/instance/values.yaml
Labels: area/kubernetes, cluster/chongus

chore update ocirepositories from v1beta2 to v1
  cluster-apps/base/cert-manager/app/ocirepository.yaml
  cluster-apps/base/envoy-gateway/app/ocirepository.yaml
  cluster-apps/base/external-dns/app/ocirepository.yaml
  cluster-apps/base/reloader/app/ocirepository.yaml
  cluster-apps/base/rook-ceph/cluster/ocirepository.yaml
  cluster-apps/base/rook-ceph/operator/ocirepository.yaml
  cluster-apps/base/snapshot-controller/ocirepository.yaml
  cluster-apps/base/spegel/app/ocirepository.yaml
  cluster-apps/chongus/external-secrets/external-secrets/app/ocirepository.yaml
  cluster-apps/chongus/flux-system/flux-operator/app/ocirepository.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/ocirepository.yaml
  cluster-apps/chongus/kube-system/cilium/app/ocirepository.yaml
  cluster-apps/chongus/kube-system/coredns/app/ocirepository.yaml
Labels: area/kubernetes, cluster/chongus

ci: adjust event triggers for workflows
  .github/workflows/labeler.yaml
  .github/workflows/on-pr.yaml
Labels: area/ci

feat: [chongus] Add kube-prometheus-stack
  cluster-apps/chongus/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  cluster-apps/chongus/observability/kube-prometheus-stack/app/externalsecret.yaml
  cluster-apps/chongus/observability/kube-prometheus-stack/app/helmrelease.yaml
  cluster-apps/chongus/observability/kube-prometheus-stack/app/kustomization.yaml
  cluster-apps/chongus/observability/kube-prometheus-stack/app/ocirepository.yaml
  cluster-apps/chongus/observability/kube-prometheus-stack/app/pushoverexternalsecret.yaml
  cluster-apps/chongus/observability/kube-prometheus-stack/ks.yaml
  cluster-apps/chongus/observability/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Fix external secret version
  cluster-apps/chongus/observability/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/kubernetes, cluster/chongus

fix kustomization namespace & name
  cluster-apps/chongus/observability/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/chongus

Fix externalsecret reference
  cluster-apps/chongus/observability/kube-prometheus-stack/app/pushoverexternalsecret.yaml
Labels: area/kubernetes, cluster/chongus

fix: trustCRDsExist to true to allow flux-local to succeed
  cluster-apps/chongus/kube-system/cilium/app/helmrelease.yaml
  cluster-apps/chongus/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/chongus

fix: pushover_api_key -> pushover_api_token
  cluster-apps/chongus/observability/kube-prometheus-stack/app/pushoverexternalsecret.yaml
Labels: area/kubernetes, cluster/chongus

feat: [chongus] add grafana
  cluster-apps/chongus/observability/grafana/app/dashboard/home.json
  cluster-apps/chongus/observability/grafana/app/dashboard/kustomization.yaml
  cluster-apps/chongus/observability/grafana/app/externalsecret.yaml
  cluster-apps/chongus/observability/grafana/app/helmrelease.yaml
  cluster-apps/chongus/observability/grafana/app/kustomization
  cluster-apps/chongus/observability/grafana/app/ocirepository.yaml
  cluster-apps/chongus/observability/grafana/ks.yaml
  cluster-apps/chongus/observability/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

fix: chongus: grafana: use proper admin user keys
  cluster-apps/chongus/observability/grafana/app/externalsecret.yaml
Labels: area/kubernetes, cluster/chongus

fix: update grafana hostname
  cluster-apps/chongus/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

fix: urls aren't hostnames
  cluster-apps/chongus/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

feat: chongus: add kube-state-metrics
  cluster-apps/base/kube-state-metrics/app/helmrelease.yaml
  cluster-apps/base/kube-state-metrics/app/ocirepository.yaml
  cluster-apps/chongus/observability/kube-state-metrics/ks.yaml
  cluster-apps/chongus/observability/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

feat: chongus: add metrics-server
  cluster-apps/base/metrics-server/app/helmrelease.yaml
  cluster-apps/base/metrics-server/app/kustomization.yaml
  cluster-apps/base/metrics-server/app/ocirepository.yaml
  cluster-apps/chongus/kube-system/kustomization.yaml
  cluster-apps/chongus/kube-system/metrics-server/ks.yaml
Labels: area/kubernetes, cluster/chongus

fix: namespace on metrics-server
  cluster-apps/chongus/kube-system/metrics-server/ks.yaml
Labels: area/kubernetes, cluster/chongus

chore: add prometheusEndpoint to rook-ceph
  cluster-apps/chongus/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

chore: up rook-ceph mons to 3
  cluster-apps/chongus/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Add custom resources for flux
  cluster-apps/base/kube-state-metrics/app/helmrelease.yaml
Labels: area/kubernetes

feat: add podmonitor for flux controllers
  cluster-apps/base/kube-state-metrics/app/kustomization.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/kustomization.yaml
  cluster-apps/chongus/flux-system/flux-operator/instance/podmonitor.yaml
Labels: area/kubernetes, cluster/chongus

feat: chongus: add node-exporter
  cluster-apps/base/node-exporter/app/helmrelease.yaml
  cluster-apps/base/node-exporter/app/kustomization.yaml
  cluster-apps/base/node-exporter/app/ocirepository.yaml
  cluster-apps/chongus/observability/kustomization.yaml
  cluster-apps/chongus/observability/node-exporter/ks.yaml
Labels: area/kubernetes, cluster/chongus

fix: privileged-namespace for node-exporter
  cluster-apps/chongus/observability/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

feat: chongus: add loki
  cluster-apps/base/alloy/app/helmrelease.yaml
  cluster-apps/base/alloy/app/kustomization.yaml
  cluster-apps/base/alloy/app/ocirepository.yaml
  cluster-apps/base/alloy/app/resources/config.alloy
  cluster-apps/base/loki/app/helmrelease.yaml
  cluster-apps/base/loki/app/kustomization.yaml
  cluster-apps/base/loki/app/ocirepository.yaml
  cluster-apps/base/loki/app/prometheusrule.yaml
  cluster-apps/chongus/observability/alloy/ks.yaml
  cluster-apps/chongus/observability/kustomization.yaml
  cluster-apps/chongus/observability/loki/ks.yaml
Labels: area/kubernetes, cluster/chongus

feat: chongus: add volsync
  cluster-apps/chongus/system/kustomization.yaml
  cluster-apps/chongus/system/volsync/app/helmrelease.yaml
  cluster-apps/chongus/system/volsync/app/kustomization.yaml
  cluster-apps/chongus/system/volsync/app/ocirepository.yaml
  cluster-apps/chongus/system/volsync/app/prometheusrule.yaml
  cluster-apps/chongus/system/volsync/ks.yaml
  test
Labels: area/kubernetes, cluster/chongus

feat: chongus: add openebs
  cluster-apps/chongus/openebs/kustomization.yaml
  cluster-apps/chongus/openebs/openebs/app/helmrelease.yaml
  cluster-apps/chongus/openebs/openebs/app/kustomization.yaml
  cluster-apps/chongus/openebs/openebs/app/ocirepository.yaml
  cluster-apps/chongus/openebs/openebs/ks.yaml
Labels: area/kubernetes, cluster/chongus

chore: add volsync component
  cluster-apps/components/volsync/b2.yaml
  cluster-apps/components/volsync/claim.yaml
  cluster-apps/components/volsync/kustomization.yaml
  cluster-apps/components/volsync/minio.yaml
Labels: area/kubernetes

disable b2 replication destination
  cluster-apps/components/volsync/b2.yaml
  cluster-cd/apps/base/_templates/volsync/b2.yaml
Labels: area/kubernetes

feat: chongus: add minecraft-vanilla
  cluster-apps/chongus/default/kustomization.yaml
  cluster-apps/chongus/default/minecraft-vanilla/app/cronjobs.yaml
  cluster-apps/chongus/default/minecraft-vanilla/app/dashboards/minecraft-fabric.json
  cluster-apps/chongus/default/minecraft-vanilla/app/externalsecret.yaml
  cluster-apps/chongus/default/minecraft-vanilla/app/helmrelease.yaml
  cluster-apps/chongus/default/minecraft-vanilla/app/kustomization.yaml
  cluster-apps/chongus/default/minecraft-vanilla/app/ocirepository.yaml
  cluster-apps/chongus/default/minecraft-vanilla/app/servicemonitor.yaml
  cluster-apps/chongus/default/minecraft-vanilla/ks.yaml
Labels: area/kubernetes, cluster/chongus

fix: volsync is acomponent, not a kustomization
  cluster-apps/chongus/default/minecraft-vanilla/app/helmrelease.yaml
  cluster-apps/components/volsync/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

fix: fix external secret store naming
  cluster-apps/chongus/default/minecraft-vanilla/ks.yaml
Labels: area/kubernetes, cluster/chongus

fix: correct external-secret version
  cluster-apps/chongus/default/minecraft-vanilla/app/externalsecret.yaml
Labels: area/kubernetes, cluster/chongus

fix: volsync: external-secrets -> v1
  cluster-apps/components/volsync/b2.yaml
  cluster-apps/components/volsync/minio.yaml
Labels: area/kubernetes

chore: add nfd
  cluster-apps/base/node-feature-discovery/app/helmrelease.yaml
  cluster-apps/base/node-feature-discovery/app/kustomization.yaml
  cluster-apps/base/node-feature-discovery/app/ocirepository.yaml
  cluster-apps/chongus/system/kustomization.yaml
  cluster-apps/chongus/system/node-feature-discovery/ks.yaml
Labels: area/kubernetes, cluster/chongus

chore: add nvidia-device-plugin
  cluster-apps/chongus/system/kustomization.yaml
  cluster-apps/chongus/system/nvidia-device-plugin/app/helmrelease.yaml
  cluster-apps/chongus/system/nvidia-device-plugin/app/kustomization.yaml
  cluster-apps/chongus/system/nvidia-device-plugin/app/ocirepository.yaml
  cluster-apps/chongus/system/nvidia-device-plugin/app/runtimeclass.yaml
  cluster-apps/chongus/system/nvidia-device-plugin/ks.yaml
Labels: area/kubernetes, cluster/chongus

fix: add timeslicingconfig
  cluster-apps/chongus/system/nvidia-device-plugin/app/helmrelease.yaml
  cluster-apps/chongus/system/nvidia-device-plugin/app/kustomization.yaml
  cluster-apps/chongus/system/nvidia-device-plugin/app/timeslicingconfig.yaml
Labels: area/kubernetes, cluster/chongus

fix: add affinity to ndp
  cluster-apps/chongus/system/nvidia-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

fix: affinity -> toleration for ndp
  cluster-apps/chongus/system/nvidia-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus
