Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-cd/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/chongus/**/*

Update minecraft cronjobs
  cluster-cd/apps/chongus/default/minecraft-vanilla/app/cronjob.yaml
Labels: area/kubernetes, cluster/chongus

Update minecraft cronjobs
  cluster-cd/apps/chongus/default/minecraft-vanilla/app/cronjob.yaml
Labels: area/kubernetes, cluster/chongus

Add cloudflare IPs to proxy-cidr
  cluster-cd/apps/base/ingress-nginx/values.yaml
Labels: area/kubernetes

Shutdown CPW, Ultracube servers
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Add memory to thanos compactor
  cluster-cd/apps/base/thanos/values.yaml
Labels: area/kubernetes

Bump flux version
  clusters/bitty/flux/config/flux.yaml
Labels: none

Fix mosquitto release
  cluster-cd/apps/bitty/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Stop incorrectly pinning keycloak image version
  cluster-cd/apps/base/keycloak/values.yaml
Labels: area/kubernetes

Stop incorrectly pinning keycloak image version
  cluster-cd/apps/base/keycloak/values.yaml
Labels: area/kubernetes

Explicitly add hostname
  cluster-cd/apps/base/keycloak/values.yaml
Labels: area/kubernetes

Revert "fix(container): update image jellyfin/jellyfin ( 10.9.7 → 10.9.9 )"
  cluster-cd/apps/chongus/media/jellyfin/app/deployment.yaml
Labels: area/kubernetes, cluster/chongus

Add ping_exporter
  cluster-cd/apps/base/ping_exporter/kustomization.yaml
  cluster-cd/apps/base/ping_exporter/kustomizeconfig.yaml
  cluster-cd/apps/base/ping_exporter/values.yaml
  cluster-cd/apps/chongus/monitoring/kustomization.yaml
  cluster-cd/apps/chongus/monitoring/ping_exporter/app/helmrelease.yaml
  cluster-cd/apps/chongus/monitoring/ping_exporter/app/kustomization.yaml
  cluster-cd/apps/chongus/monitoring/ping_exporter/ks.yaml
  cluster-cd/repositories/helm/ping-exporter.yaml
Labels: area/kubernetes, cluster/chongus

_ -> - for ping-exporter
  cluster-cd/apps/base/ping-exporter/kustomization.yaml
  cluster-cd/apps/base/ping-exporter/kustomizeconfig.yaml
  cluster-cd/apps/base/ping-exporter/values.yaml
  cluster-cd/apps/chongus/monitoring/ping-exporter/app/helmrelease.yaml
  cluster-cd/apps/chongus/monitoring/ping-exporter/app/kustomization.yaml
  cluster-cd/apps/chongus/monitoring/ping-exporter/ks.yaml
  cluster-cd/apps/chongus/monitoring/ping_exporter/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

_ -> - for ping-exporter
  cluster-cd/apps/chongus/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

_ -> - for ping-exporter
  cluster-cd/apps/chongus/monitoring/ping-exporter/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

_ -> - for ping-exporter
  cluster-cd/repositories/helm/kustomization.yaml
Labels: area/kubernetes

_ -> - for ping-exporter
  cluster-cd/apps/chongus/monitoring/ping-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Add service monitor to ping-exporter
  cluster-cd/apps/chongus/monitoring/ping-exporter/app/kustomization.yaml
  cluster-cd/apps/chongus/monitoring/ping-exporter/app/servicemonitor.yaml
Labels: area/kubernetes, cluster/chongus

Add service monitor to ping-exporter
  cluster-cd/apps/chongus/monitoring/ping-exporter/app/servicemonitor.yaml
Labels: area/kubernetes, cluster/chongus

Add service monitor to ping-exporter
  cluster-cd/apps/chongus/monitoring/ping-exporter/app/servicemonitor.yaml
Labels: area/kubernetes, cluster/chongus

Update SHORTLINK_DOMAIN
  clusters/chongus/flux/vars/cluster-secrets.cho.yaml
Labels: none

kubeProxyReplacement strict is deprecated
  cluster-cd/apps/bitty/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/bitty

kubeProxyReplacement strict is deprecated
  cluster-cd/apps/chongus/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/chongus

Update LBIPAMs to v0.15+ spec
  cluster-cd/apps/bitty/kube-system/cilium/app/lbipam.yaml
  cluster-cd/apps/chongus/kube-system/cilium/app/lbipam.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Update ingress-nginx to be ipv4 only
  cluster-cd/apps/chongus/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Update memory request for minecraft vanilla
  cluster-cd/apps/chongus/default/minecraft-vanilla/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Double shlink memory
  cluster-cd/apps/chongus/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

quintuple shlink memory
  cluster-cd/apps/chongus/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Disable probes on shlink for now
  cluster-cd/apps/chongus/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

re-enable probes on shlink for now
  cluster-cd/apps/chongus/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

[shlink] bump probe timeouts to 5 seconds
  cluster-cd/apps/chongus/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

[minecraft] remove stray char from dash
  cluster-cd/apps/chongus/default/minecraft-vanilla/app/dashboards/minecraft-fabric.json
Labels: area/kubernetes, cluster/chongus

remove probes on shlink for now
  cluster-cd/apps/chongus/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

[prometheus] cluster -> k8s_cluster
  cluster-cd/apps/base/kube-prometheus-stack/values.yaml
Labels: area/kubernetes

Move Bitty CNPG to Minio
  cluster-cd/apps/bitty/database/cloudnative-pg/app/externalsecret.yaml
  cluster-cd/apps/bitty/database/cloudnative-pg/cluster/cluster.yaml
  clusters/bitty/flux/vars/cluster-secrets.bty.yaml
  clusters/chongus/flux/vars/cluster-secrets.cho.yaml
Labels: area/kubernetes, cluster/bitty

Move Chongus CNPG to Minio
  cluster-cd/apps/chongus/database/cloudnative-pg/app/externalsecret.yaml
  cluster-cd/apps/chongus/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/chongus

Fix cnpg bucket
  cluster-cd/apps/chongus/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/chongus

Fix bucket name for cnpg
  cluster-cd/apps/bitty/database/cloudnative-pg/cluster/cluster.yaml
  cluster-cd/apps/chongus/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Remove ipv6 config from Cilium
  cluster-cd/apps/chongus/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/chongus

Add back IPv6 to Cilium
  cluster-cd/apps/chongus/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/chongus
