Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

Add mam
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/resources/config.yaml
Labels: area/kubernetes, cluster/bitty

Fix orphaned?
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Move bluesky to bitty
  cluster-cd/apps/bitty/default/bluesky/app/externalsecret.yaml
  cluster-cd/apps/bitty/default/bluesky/app/helmrelease.yaml
  cluster-cd/apps/bitty/default/bluesky/app/kustomization.yaml
  cluster-cd/apps/bitty/default/bluesky/ks.yaml
  cluster-cd/apps/bitty/default/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Bump app-template version
  cluster-cd/apps/bitty/default/bluesky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Fix bluesky ref
  clusters/bitty/flux/vars/cluster-secrets.bty.yaml
Labels: none

Add bluesky to cloudflared
  cluster-cd/apps/bitty/network/cloudflared/app/config/config.yaml
Labels: area/kubernetes, cluster/bitty

Migrate to OpenTofu controller
  cluster-cd/apps/bitty/flux-system/tf-controller/app/helmrelease.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/app/configmap.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/app/externalsecret.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/app/helmrelease.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/app/kustomization.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/ks.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/backblaze.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/cloudflare.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/externalsecret.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/gitrepository.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/keycloak.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/kustomization.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/minio.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/receiver.yaml
Labels: area/kubernetes, cluster/bitty

Fix download svc endpoints for cross-seed
  cluster-cd/apps/bitty/flux-system/kustomization.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/app/externalsecret.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/ks.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/backblaze.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/cloudflare.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/keycloak.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/minio.yaml
  clusters/bitty/flux/config/flux.yaml
  clusters/chongus/flux/config/flux.yaml
Labels: area/kubernetes, cluster/bitty

Disable tofu
  cluster-cd/apps/bitty/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Add back Tofu Controller
  cluster-cd/apps/bitty/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Add hostname for terraform cloud
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/backblaze.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/cloudflare.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/keycloak.yaml
  cluster-cd/apps/bitty/flux-system/tofu-controller/terraforms/minio.yaml
Labels: area/kubernetes, cluster/bitty

Give more ram to Gatus
  cluster-cd/apps/bitty/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Move scrypted to bitty
  cluster-cd/apps/bitty/home/kustomization.yaml
  cluster-cd/apps/bitty/home/scrypted/app/helmrelease.yaml
  cluster-cd/apps/bitty/home/scrypted/app/kustomization.yaml
  cluster-cd/apps/bitty/home/scrypted/app/restore.yaml
  cluster-cd/apps/bitty/home/scrypted/ks.yaml
  cluster-cd/apps/chongus/home/kustomization.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Fix dns endpoint for cloudflared chongus
  cluster-cd/apps/chongus/network/cloudflared/app/dnsendpoint.cho.yaml
Labels: area/kubernetes, cluster/chongus

Move paperless-ngx to bitty
  cluster-cd/apps/bitty/default/kustomization.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/ai/helmrelease.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/ai/kustomization.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/app/externalsecret.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/app/helmrelease.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/app/kustomization.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/app/restore.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/ks.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/redis/helmrelease.yaml
  cluster-cd/apps/bitty/default/paperless-ngx/redis/kustomization.yaml
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Move Jellyfin to Bitty
  cluster-cd/apps/bitty/media/jellyfin/app/deployment.yaml
  cluster-cd/apps/bitty/media/jellyfin/app/ingress.yaml
  cluster-cd/apps/bitty/media/jellyfin/app/kustomization.yaml
  cluster-cd/apps/bitty/media/jellyfin/app/restore.yaml
  cluster-cd/apps/bitty/media/jellyfin/app/service.yaml
  cluster-cd/apps/bitty/media/jellyfin/ks.yaml
  cluster-cd/apps/bitty/media/kustomization.yaml
  cluster-cd/apps/chongus/media/kustomization.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Update config
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/resources/config.yaml
  cluster-cd/apps/chongus/default/bluesky/app/externalsecret.yaml
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/bluesky/app/kustomization.yaml
  cluster-cd/apps/chongus/default/bluesky/ks.yaml
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Add flaresolverr, suwayomi
  cluster-cd/apps/bitty/downloads/flaresolverr/app/helmrelease.yaml
  cluster-cd/apps/bitty/downloads/flaresolverr/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/flaresolverr/ks.yaml
  cluster-cd/apps/bitty/downloads/kustomization.yaml
  cluster-cd/apps/bitty/downloads/suwayomi/app/helmrelease.yaml
  cluster-cd/apps/bitty/downloads/suwayomi/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/suwayomi/ks.yaml
Labels: area/kubernetes, cluster/bitty

Fix ingress class name
  cluster-cd/apps/bitty/downloads/suwayomi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Add https to suwayomi
  cluster-cd/apps/bitty/downloads/suwayomi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Disable suwayomi
  cluster-cd/apps/bitty/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Re-enable Suwayomi
  cluster-cd/apps/bitty/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Disable prume jobs for now
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Disable prume jobs for now
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Fix quality profiles for sonarr
  cluster-cd/apps/bitty/downloads/recyclarr/app/config/recyclarr.yaml
Labels: area/kubernetes, cluster/bitty

Ingress-Nginx local traffic policy
  cluster-cd/apps/bitty/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Update cross-seed settings
  cluster-cd/apps/bitty/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

Remove external traffic policy
  cluster-cd/apps/bitty/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Add back prune jobs
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Add komf
  cluster-cd/apps/bitty/default/komf/app/config/application.yaml
  cluster-cd/apps/bitty/default/komf/app/externalsecret.yaml
  cluster-cd/apps/bitty/default/komf/app/helmrelease.yaml
  cluster-cd/apps/bitty/default/komf/app/kustomization.yaml
  cluster-cd/apps/bitty/default/komf/ks.yaml
  cluster-cd/apps/bitty/default/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Add komf
  cluster-cd/apps/bitty/default/komf/app/config/application.yml
Labels: area/kubernetes, cluster/bitty

Add komf
  cluster-cd/apps/bitty/default/komf/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Add komf volume
  cluster-cd/apps/bitty/default/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Add komf volume
  cluster-cd/apps/bitty/default/komf/app/kustomization.yaml
  cluster-cd/apps/bitty/default/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Fix kavita base uri for komf
  cluster-cd/apps/bitty/default/komf/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Add ingress to komf
  cluster-cd/apps/bitty/default/kavita/app/helmrelease.yaml
  cluster-cd/apps/bitty/default/komf/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Adjust path for suwayomi
  cluster-cd/apps/bitty/downloads/suwayomi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Add buffer to ipt & tl
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/resources/config.yaml
Labels: area/kubernetes, cluster/bitty

Add komga
  cluster-cd/apps/bitty/default/komga/app/helmrelease.yaml
  cluster-cd/apps/bitty/default/komga/app/kustomization.yaml
  cluster-cd/apps/bitty/default/komga/ks.yaml
  cluster-cd/apps/bitty/default/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Add komga
  cluster-apps/chongus/kube-system/kustomization.yaml
  cluster-cd/apps/bitty/default/komga/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-cd/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/chongus/**/*
