Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

Update cpu limit policy, kyverno
  cluster-cd/apps/bitty/security/kyverno/policies/remove-cpu-limits.yaml
Labels: area/kubernetes, cluster/bitty

Fix prowlarr version
  cluster-cd/apps/bitty/downloads/prowlarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Fix postgres-init containers
  cluster-cd/apps/base/keycloak/values.yaml
  cluster-cd/apps/bitty/home/home-assistant/app/deployment.yaml
  cluster-cd/apps/bitty/home/home-assistant/app/kustomization.yaml
  cluster-cd/apps/chongus/default/atuin/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Add qbittorrent
  cluster-cd/apps/bitty/downloads/kustomization.yaml
  cluster-cd/apps/bitty/downloads/qbittorrent/app/externalsecret.yaml
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
  cluster-cd/apps/bitty/downloads/qbittorrent/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/qbittorrent/ks.yaml
Labels: area/kubernetes, cluster/bitty

Add qbittorrent
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Remove tempmedia
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Fix external-dns values for latest version
  cluster-cd/apps/base/external-dns/values.yaml
Labels: area/kubernetes

VueTorrent to PVC
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Remove tun resource requirement
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

[qb] Fix ExternalSecret references
  cluster-cd/apps/bitty/downloads/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

[qb] fix input port
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

[qb] turn off firewall for now
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

[qb] switch gluetun provider
  cluster-cd/apps/bitty/downloads/qbittorrent/app/externalsecret.yaml
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

[qb] smaller MTU
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

[qb] disable mtu & health checks
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

[qb] add input ports
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
  cluster-cd/apps/bitty/vpn/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

[qb] Add openvpn config secret
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
  cluster-cd/apps/bitty/downloads/qbittorrent/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/qbittorrent/app/openvpn-config.yaml
Labels: area/kubernetes, cluster/bitty

[qb] disable probes for now
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

[qb] add back probes
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

[qb] disable probes for now
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

[qb] Add port forwarding
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

[qb] Add port forwarding
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

[qb] Add port forwarding
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

[qb] re-enable probes?
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

[qb] disable again...
  cluster-cd/apps/bitty/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Add autobrr
  cluster-cd/apps/bitty/downloads/autobrr/app/externalsecret.yaml
  cluster-cd/apps/bitty/downloads/autobrr/app/helmrelease.yaml
  cluster-cd/apps/bitty/downloads/autobrr/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/autobrr/app/prometheusrule.yaml
  cluster-cd/apps/bitty/downloads/autobrr/ks.yaml
  cluster-cd/apps/bitty/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Fix autobrr chart reference
  cluster-cd/apps/bitty/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Add autobrr externalsecret
  cluster-cd/apps/bitty/downloads/autobrr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

add unpackerr
  cluster-cd/apps/bitty/downloads/kustomization.yaml
  cluster-cd/apps/bitty/downloads/unpackerr/app/externalsecret.yaml
  cluster-cd/apps/bitty/downloads/unpackerr/app/helmrelease.yaml
  cluster-cd/apps/bitty/downloads/unpackerr/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/unpackerr/ks.yaml
Labels: area/kubernetes, cluster/bitty

[unpackerr] Add kustomization
  cluster-cd/apps/bitty/downloads/unpackerr/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Cycle laptop keys
  .sops.yaml
  cluster-cd/apps/bitty/network/cloudflared/app/dnsendpoint.bty.yaml
  cluster-cd/apps/bitty/security/external-secrets/stores/dopplertoken.bty.yaml
  cluster-cd/apps/chongus/network/cloudflared/app/dnsendpoint.cho.yaml
  cluster-cd/apps/chongus/security/external-secrets/stores/dopplertoken.cho.yaml
  clusters/bitty/bootstrap/github-deploy-key.bty.yaml
  clusters/bitty/bootstrap/sops-age.bty.yaml
  clusters/bitty/flux/vars/cluster-secrets.bty.yaml
  clusters/bitty/talos/talenv.sops.yaml
  clusters/bitty/talos/talsecret.sops.yaml
  clusters/chongus/bootstrap/github-deploy-key.cho.yaml
  clusters/chongus/bootstrap/sops-age.cho.yaml
  clusters/chongus/flux/vars/cluster-secrets.cho.yaml
  clusters/chongus/talos/talenv.sops.yaml
  clusters/chongus/talos/talsecret.sops.yaml
Labels: area/kubernetes, cluster/bitty, cluster/chongus

Add thelounge
  cluster-cd/apps/chongus/default/thelounge/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/thelounge/app/kustomization.yaml
  cluster-cd/apps/chongus/default/thelounge/ks.yaml
Labels: area/kubernetes, cluster/chongus

Fix subdomain for gatus for qb
  cluster-cd/apps/bitty/downloads/qbittorrent/ks.yaml
Labels: area/kubernetes, cluster/bitty

Add thelounge
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Add thelounge
  cluster-cd/apps/chongus/default/thelounge/ks.yaml
Labels: area/kubernetes, cluster/chongus

Add cross-seed
  cluster-cd/apps/bitty/downloads/cross-seed/app/externalsecret.yaml
  cluster-cd/apps/bitty/downloads/cross-seed/app/helmrelease.yaml
  cluster-cd/apps/bitty/downloads/cross-seed/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/cross-seed/ks.yaml
  cluster-cd/apps/bitty/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Fix cross-seed path
  cluster-cd/apps/bitty/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/bitty

Fix thelounge namespace
  cluster-cd/apps/chongus/default/thelounge/ks.yaml
Labels: area/kubernetes, cluster/chongus

PVC name for cross-seed
  cluster-cd/apps/bitty/downloads/cross-seed/app/helmrelease.yaml
  cluster-cd/apps/bitty/downloads/cross-seed/app/kustomization.yaml
  cluster-cd/apps/bitty/downloads/cross-seed/ks.yaml
Labels: area/kubernetes, cluster/bitty

Add qbtools
  .github/lint/.yamllint.yaml
  cluster-cd/apps/bitty/downloads/qbittorrent/ks.yaml
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/helmrelease.yaml
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/kustomization.yaml
  cluster-cd/apps/bitty/downloads/qbittorrent/tools/resources/config.yaml
Labels: area/ci, area/kubernetes, cluster/bitty

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-cd/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/chongus/**/*
