Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

Add back bluesky
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Add bluesky to cloudflared config
  cluster-cd/apps/chongus/network/cloudflared/app/config/config.yaml
Labels: area/kubernetes, cluster/chongus

1 replica for bluesky
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Add SMTP settings to Bluesky
  cluster-cd/apps/chongus/default/bluesky/app/externalsecret.yaml
Labels: area/kubernetes, cluster/chongus

Move to Recreate for bluesky
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Fix Env var
  cluster-cd/apps/chongus/default/bluesky/app/externalsecret.yaml
Labels: area/kubernetes, cluster/chongus

Add pdsadmin container to bluesky
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Fix case on emptyDir
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Run pdsadmin as root
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Update pdsadmin sha
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Add Raspberry pis
  .gitignore
  pis/.gitignore
  pis/adguard_credentials.yml
  pis/roles/adguardhome/handlers/main.yaml
  pis/roles/adguardhome/tasks/main.yaml
  pis/roles/adguardhome/templates/AdGuardHome.yaml.j2
  pis/roles/adguardhome/templates/adguardhome.service.j2
  pis/roles/auto-upgrade/defaults/main.yaml
  pis/roles/auto-upgrade/files/20-auto-upgrades.conf
  pis/roles/auto-upgrade/tasks/main.yaml
  pis/roles/dns-over-https/defaults/main.yaml
  pis/roles/dns-over-https/handlers/main.yaml
  pis/roles/dns-over-https/handlers/restart-networking.yaml
  pis/roles/dns-over-https/tasks/main.yaml
  pis/roles/dns-over-https/templates/cloudflared.service.j2
  pis/roles/docker/defaults/main.yaml
  pis/roles/docker/handlers/main.yaml
  pis/roles/docker/tasks/main.yaml
  pis/roles/raspi-monitor/handlers/main.yaml
  pis/roles/raspi-monitor/tasks/main.yaml
  pis/roles/raspi-monitor/templates/raspi-monitor.service.j2
  pis/site.yaml
Labels: none

Pi Ansible
  pis/roles/adguardhome/templates/adguardhome.service.j2
  pis/roles/avahi/handlers/main.yaml
  pis/roles/avahi/tasks/main.yaml
  pis/roles/avahi/templates/avahi-reflector.service.j2
  pis/roles/docker/tasks/main.yaml
  pis/roles/vlans/defaults/main.yaml
  pis/roles/vlans/handlers/main.yaml
  pis/roles/vlans/tasks/main.yaml
  pis/roles/vlans/templates/vlan_connection.nmconnection.j2
  pis/site.yaml
Labels: none

Pi Ansible -- add tailscaled
  pis/adguard_credentials.yml
  pis/roles/docker/defaults/main.yaml
  pis/roles/docker/handlers/main.yaml
  pis/roles/docker/tasks/main.yaml
  pis/roles/tailscaled/handlers/main.yaml
  pis/roles/tailscaled/tasks/main.yaml
  pis/roles/tailscaled/templates/tailscaled.service.j2
  pis/roles/vlans/tasks/create_vlan.yaml
  pis/site.yaml
  pis/test.yml
Labels: none

Add SkyFactory 5
  cluster-cd/apps/chongus/default/kustomization.yaml
  cluster-cd/apps/chongus/default/minecraft-sf5/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/minecraft-sf5/app/kustomization.yaml
  cluster-cd/apps/chongus/default/minecraft-sf5/ks.yaml
Labels: area/kubernetes, cluster/chongus

Add SkyFactory 5
  cluster-cd/apps/chongus/default/minecraft-sf5/app/externalsecret.yaml
  cluster-cd/apps/chongus/default/minecraft-sf5/app/kustomization.yaml
  world.zip
Labels: area/kubernetes, cluster/chongus

Add debug to SF5
  cluster-cd/apps/chongus/default/minecraft-sf5/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Use Cloudflare DNS for minecraft sf5
  cluster-cd/apps/chongus/default/minecraft-sf5/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Remove .0 IPs from pool in cilium
  cluster-cd/apps/chongus/kube-system/cilium/app/lbipam.yaml
Labels: area/kubernetes, cluster/chongus

Remove first ips from bitty as well
  cluster-cd/apps/bitty/kube-system/cilium/app/lbipam.yaml
Labels: area/kubernetes, cluster/bitty

Add back vanilla server
  cluster-cd/apps/chongus/default/kustomization.yaml
  cluster-cd/apps/chongus/default/minecraft-sf5/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/minecraft-vanilla/app/externalsecret.yaml
  cluster-cd/apps/chongus/default/minecraft-vanilla/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/minecraft-vanilla/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Add backups to sf5
  cluster-cd/apps/chongus/default/minecraft-sf5/app/cronjob.yaml
  cluster-cd/apps/chongus/default/minecraft-sf5/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/minecraft-sf5/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Temporarily remove fin ingress
  cluster-cd/apps/chongus/media/jellyfin/app/kustomization.yaml
  world.zip
Labels: area/kubernetes, cluster/chongus

Add back jellyfin ingress
  cluster-cd/apps/chongus/media/jellyfin/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Upgrade external-dns
  cluster-cd/apps/base/external-dns/kustomization.yaml
Labels: area/kubernetes

Upgrade external-dns
  cluster-cd/apps/base/external-dns/kustomization.yaml
Labels: area/kubernetes

Upgrade external-dns
  cluster-cd/apps/chongus/default/kustomization.yaml
  cluster-cd/apps/chongus/network/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Temporarily remove external-dns
  cluster-cd/apps/base/external-dns/kustomization.yaml
  cluster-cd/apps/base/external-dns/values.yaml
  cluster-cd/apps/chongus/network/cloudflared/app/kustomization.yaml
  cluster-cd/apps/chongus/network/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Add back external-dns
  cluster-cd/apps/chongus/network/cloudflared/app/kustomization.yaml
  cluster-cd/apps/chongus/network/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Remove external-dns from trxl.io
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Remove external-dns from trxl.io
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/bluesky/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Remove spegel
  cluster-cd/apps/chongus/system/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Debug log level for external-dns
  cluster-cd/apps/base/external-dns/values.yaml
Labels: area/kubernetes

Debug log level for external-dns
  cluster-cd/apps/base/external-dns/values.yaml
Labels: area/kubernetes

Debug log level for external-dns
  cluster-cd/apps/chongus/network/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Debug log level for external-dns
  cluster-cd/apps/chongus/network/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Debug log level for external-dns
  cluster-cd/apps/chongus/network/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Debug log level for external-dns
  cluster-cd/apps/chongus/network/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Remove CRD Source
  cluster-cd/apps/base/external-dns/values.yaml
Labels: area/kubernetes

Add domain filter for some reason?
  cluster-cd/apps/base/external-dns/values.yaml
Labels: area/kubernetes

Upgrade external-dns on bitty
  cluster-cd/apps/base/external-dns/values.yaml
  cluster-cd/apps/bitty/network/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-cd/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/chongus/**/*
