Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-apps/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-apps/chongus/**/*

fix: add runtimeClassName
  cluster-apps/chongus/system/nvidia-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

chore: add thanos
  cluster-apps/base/thanos/app/helmrelease.yaml
  cluster-apps/base/thanos/app/kustomization.yaml
  cluster-apps/base/thanos/app/ocirepository.yaml
  cluster-apps/chongus/observability/kustomization.yaml
  cluster-apps/chongus/observability/thanos/ks.yaml
Labels: area/kubernetes, cluster/chongus

Fix: fix values for thanos
  cluster-apps/base/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: add thanosService to kps
  cluster-apps/chongus/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

chore: grafana: Add thanos datasource
  cluster-apps/chongus/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

chore: fix Prometheus naming
  cluster-apps/chongus/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

fix: revert thanos addition
  cluster-apps/chongus/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

fix: thanos as default again
  cluster-apps/chongus/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

fix: minecraft: ensure instance matchLabel matches
  cluster-apps/chongus/default/minecraft-vanilla/app/servicemonitor.yaml
Labels: area/kubernetes, cluster/chongus

fix: add Datasource selector to minecraft dashboard
  cluster-apps/chongus/default/minecraft-vanilla/app/dashboards/minecraft-fabric.json
Labels: area/kubernetes, cluster/chongus

Sort entity list
  cluster-apps/chongus/default/minecraft-vanilla/app/dashboards/minecraft-fabric.json
Labels: area/kubernetes, cluster/chongus

Add fabric-exporter dashboard
  cluster-apps/chongus/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

fix: add minecraft dashboard provider
  cluster-apps/chongus/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

fix: fix datasource ref for minecraft dashboard
  cluster-apps/chongus/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

feat: chongus: add atuin
  cluster-apps/chongus/default/atuin/app/helmrelease.yaml
  cluster-apps/chongus/default/atuin/app/kustomization.yaml
  cluster-apps/chongus/default/atuin/app/ocirepository.yaml
  cluster-apps/chongus/default/atuin/ks.yaml
Labels: area/kubernetes, cluster/chongus

chore: alloy: change log level to info
  cluster-apps/base/alloy/app/resources/config.alloy
Labels: area/kubernetes

roll back server debug
  cluster-apps/base/alloy/app/resources/config.alloy
Labels: area/kubernetes

chore: alloy: enable livedebugging
  cluster-apps/base/alloy/app/resources/config.alloy
Labels: area/kubernetes

chore: atuin: enable metrics
  cluster-apps/chongus/default/atuin/app/config/server.toml
  cluster-apps/chongus/default/atuin/app/helmrelease.yaml
  cluster-apps/chongus/default/atuin/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

fix: disable name suffix hash for atuin-config
  cluster-apps/chongus/default/atuin/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

feat: add minecraft-sf5 to chongus
  cluster-apps/chongus/default/minecraft-sf5/app/cronjob.yaml
  cluster-apps/chongus/default/minecraft-sf5/app/externalsecret.yaml
  cluster-apps/chongus/default/minecraft-sf5/app/helmrelease.yaml
  cluster-apps/chongus/default/minecraft-sf5/app/kustomization.yaml
  cluster-apps/chongus/default/minecraft-sf5/ks.yaml
Labels: area/kubernetes, cluster/chongus

fix: external-secret to v1
  cluster-apps/chongus/default/minecraft-sf5/app/externalsecret.yaml
Labels: area/kubernetes, cluster/chongus

chore: add servicemonitor to minecraft-sf5
  cluster-cd/apps/chongus/default/minecraft-sf5/app/kustomization.yaml
  cluster-cd/apps/chongus/default/minecraft-sf5/app/servicemonitor.yaml
Labels: none

fix servicemonitor reference
  cluster-cd/apps/chongus/default/minecraft-sf5/app/servicemonitor.yaml
Labels: none

fix servicemonitor reference
  cluster-apps/chongus/default/minecraft-sf5/app/kustomization.yaml
  cluster-apps/chongus/default/minecraft-sf5/app/servicemonitor.yaml
Labels: area/kubernetes, cluster/chongus

fix servicemonitor reference
  cluster-apps/chongus/default/minecraft-sf5/app/servicemonitor.yaml
Labels: area/kubernetes, cluster/chongus

feat: add minecraft-cpw to Chongus
  cluster-apps/chongus/default/kustomization.yaml
  cluster-apps/chongus/default/minecraft-cpw/app/cronjob.yaml
  cluster-apps/chongus/default/minecraft-cpw/app/externalsecret.yaml
  cluster-apps/chongus/default/minecraft-cpw/app/helmrelease.yaml
  cluster-apps/chongus/default/minecraft-cpw/app/kustomization.yaml
  cluster-apps/chongus/default/minecraft-cpw/app/ocirepository.yaml
  cluster-apps/chongus/default/minecraft-cpw/app/servicemonitor.yaml
  cluster-apps/chongus/default/minecraft-cpw/ks.yaml
  cluster-apps/chongus/default/minecraft-sf5/app/ocirepository.yaml
Labels: area/kubernetes, cluster/chongus

chore: add minecraft-forge dashboard
  cluster-apps/chongus/default/minecraft-sf5/app/dashboards/minecraft-forge.json
  cluster-apps/chongus/default/minecraft-sf5/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

feat: add awair-exporter
  cluster-apps/chongus/observability/awair-exporter/app/helmrelease.yaml
  cluster-apps/chongus/observability/awair-exporter/app/kustomization.yaml
  cluster-apps/chongus/observability/awair-exporter/app/ocirepository.yaml
  cluster-apps/chongus/observability/awair-exporter/app/probe.yaml
  cluster-apps/chongus/observability/awair-exporter/ks.yaml
  cluster-apps/chongus/observability/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

fix: piVersion -> apiVersion
  cluster-apps/chongus/observability/awair-exporter/app/helmrelease.yaml
  cluster-apps/chongus/observability/awair-exporter/app/ocirepository.yaml
Labels: area/kubernetes, cluster/chongus

fix: correct awair-exporter address
  cluster-apps/chongus/observability/awair-exporter/app/probe.yaml
Labels: area/kubernetes, cluster/chongus

fix: correct awair-exporter address
  cluster-apps/chongus/observability/awair-exporter/app/probe.yaml
Labels: area/kubernetes, cluster/chongus

fix: target -> instance
  cluster-apps/chongus/observability/awair-exporter/app/probe.yaml
Labels: area/kubernetes, cluster/chongus

fix: remove relabelings entirely
  cluster-apps/chongus/observability/awair-exporter/app/probe.yaml
Labels: area/kubernetes, cluster/chongus

feat: add blackbox-exporter for device monitoring
  cluster-apps/chongus/observability/blackbox-exporter/app/helmrelease.yaml
  cluster-apps/chongus/observability/blackbox-exporter/app/ocirepository.yaml
  cluster-apps/chongus/observability/blackbox-exporter/app/probes.yaml
  cluster-apps/chongus/observability/blackbox-exporter/ks.yaml
  cluster-apps/chongus/observability/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

fix: needs kustomization
  cluster-apps/chongus/observability/blackbox-exporter/app/helmrelease.yaml
  cluster-apps/chongus/observability/blackbox-exporter/app/kustomization.yaml
  cluster-apps/chongus/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/chongus

cleanup
  cluster-cd/apps/chongus/default/kustomization.yaml
  cluster-cd/apps/chongus/default/shlink/app/externalsecret.yaml
  cluster-cd/apps/chongus/default/shlink/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/shlink/app/kustomization.yaml
  cluster-cd/apps/chongus/default/shlink/ks.yaml
  cluster-cd/apps/chongus/default/shlink/web/helmrelease.yaml
  cluster-cd/apps/chongus/default/shlink/web/kustomization.yaml
  cluster-cd/apps/chongus/monitoring/kustomization.yaml
  cluster-cd/apps/chongus/monitoring/namespace.yaml
  cluster-cd/apps/chongus/monitoring/ping-exporter/app/helmrelease.yaml
  cluster-cd/apps/chongus/monitoring/ping-exporter/app/kustomization.yaml
  cluster-cd/apps/chongus/monitoring/ping-exporter/app/servicemonitor.yaml
  cluster-cd/apps/chongus/monitoring/ping-exporter/ks.yaml
Labels: none

feat: add graphite-exporter
  cluster-apps/chongus/observability/graphite-exporter/app/config/graphite-mapping.conf
  cluster-apps/chongus/observability/graphite-exporter/app/helmrelease.yaml
  cluster-apps/chongus/observability/graphite-exporter/app/kustomization.yaml
  cluster-apps/chongus/observability/graphite-exporter/app/ocirepository.yaml
  cluster-apps/chongus/observability/graphite-exporter/ks.yaml
  cluster-apps/chongus/observability/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

fix: .conf, not .yaml
  cluster-apps/chongus/observability/graphite-exporter/app/helmrelease.yaml
  cluster-apps/chongus/observability/graphite-exporter/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Fix .conf file
  cluster-apps/chongus/observability/graphite-exporter/app/config/graphite-mapping.conf
Labels: area/kubernetes, cluster/chongus
