Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

Swap to SingleStack for ingress-nginx
  cluster-cd/apps/chongus/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Unpin ingress IP
  cluster-cd/apps/chongus/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Remove IPs from secrets, loglevel back to info for externaldns
  cluster-cd/apps/base/external-dns/values.yaml
  clusters/chongus/flux/vars/cluster-secrets.cho.yaml
Labels: area/kubernetes

Add hostnames for minecraft servers
  cluster-cd/apps/chongus/default/minecraft-sf5/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/minecraft-vanilla/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Remove old factorio servers
  cluster-cd/apps/chongus/default/factorio-space-ex/app/externalsecret.yaml
  cluster-cd/apps/chongus/default/factorio-space-ex/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/factorio-space-ex/app/kustomization.yaml
  cluster-cd/apps/chongus/default/factorio-space-ex/ks.yaml
  cluster-cd/apps/chongus/default/factorio-ultracube/app/externalsecret.yaml
  cluster-cd/apps/chongus/default/factorio-ultracube/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/factorio-ultracube/app/kustomization.yaml
  cluster-cd/apps/chongus/default/factorio-ultracube/ks.yaml
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Remove hardcoded LB IPs
  cluster-cd/apps/chongus/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes, cluster/chongus

Add back bluesky
  cluster-cd/apps/chongus/default/bluesky/app/kustomization.yaml
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Add TTL to bluesky
  cluster-cd/apps/chongus/default/bluesky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Add debug to external dns
  cluster-cd/apps/base/external-dns/values.yaml
Labels: area/kubernetes

Add debug to external dns
  cluster-cd/apps/base/external-dns/values.yaml
Labels: area/kubernetes

Update stash permissions
  cluster-cd/apps/bitty/media/stash/app/deployment.yaml
Labels: area/kubernetes, cluster/bitty

Allow privileged in media
  cluster-cd/apps/bitty/media/namespace.yaml
Labels: area/kubernetes, cluster/bitty

Move shlink to database in redis
  cluster-cd/apps/chongus/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Re-enable shlink
  cluster-cd/apps/chongus/default/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Remove cloudnative-pg cluster and stage for restore
  cluster-cd/apps/chongus/database/cloudnative-pg/cluster/cluster.yaml
  cluster-cd/apps/chongus/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/chongus

Re-enable cloudnative-pg-cluster
  cluster-cd/apps/chongus/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/chongus

Disable cloudnative-pg temporariy
  cluster-cd/apps/chongus/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/chongus

Recreate cluster
  cluster-cd/apps/chongus/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/chongus

Disable cloudnative-pg temporariy
  cluster-cd/apps/chongus/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/chongus

Recreate cluster
  cluster-cd/apps/chongus/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/chongus

Add blocky role
  pis/adguard_credentials.yml
  pis/roles/adguardhome/templates/AdGuardHome.yaml.j2
  pis/roles/blocky/handlers/main.yaml
  pis/roles/blocky/tasks/main.yaml
  pis/roles/blocky/templates/blocky.service.j2
  pis/roles/blocky/templates/config.yaml.j2
  pis/site.yaml
Labels: none

Add blocky role
  pis/blocky_addresses.yml
Labels: none

Add lb for redis
  cluster-cd/apps/chongus/database/redis/app/helmrelease.yaml
  cluster-cd/apps/chongus/database/redis/app/kustomization.yaml
  cluster-cd/apps/chongus/database/redis/app/network-policy.yaml
  pis/site.yaml
  pis/test.yml
Labels: area/kubernetes, cluster/chongus

Update Redis
  cluster-cd/apps/chongus/database/redis/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

update bitnami to oci
  cluster-cd/repositories/helm/bitnami.yaml
Labels: area/kubernetes

update bitnami to oci
  cluster-cd/repositories/helm/bitnami.yaml
Labels: area/kubernetes

All loadbalancers
  cluster-cd/apps/chongus/database/redis/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Sentinel only
  cluster-cd/apps/chongus/database/redis/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Swap Postgres to Single Stack
  cluster-cd/apps/chongus/database/cloudnative-pg/cluster/service.yaml
  pis/blocky_addresses.yml
  pis/roles/blocky/defaults/main.yaml
  pis/roles/blocky/handlers/main.yaml
  pis/roles/blocky/handlers/restart-networking.yaml
  pis/roles/blocky/tasks/main.yaml
  pis/roles/blocky/templates/blocky.service.j2
  pis/roles/blocky/templates/config.yaml.j2
  pis/roles/blocky/templates/resolv.conf.j2
  pis/roles/dns-over-https/defaults/main.yaml
  pis/roles/dns-over-https/templates/cloudflared.service.j2
  pis/roles/tailscaled/templates/tailscaled.service.j2
  pis/site.yaml
Labels: area/kubernetes, cluster/chongus

Swap Postgres to Single Stack
  cluster-cd/apps/chongus/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes, cluster/chongus

Swap Postgres to Single Stack
  cluster-cd/apps/chongus/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes, cluster/chongus

Swap Postgres to Single Stack
  cluster-cd/apps/chongus/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes, cluster/chongus

Swap Postgres to Single Stack
  cluster-cd/apps/chongus/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes, cluster/chongus

Swap Postgres to Single Stack
  cluster-cd/apps/chongus/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes, cluster/chongus

Add Gatus to Bitty
  cluster-cd/apps/bitty/monitoring/gatus/app/config/config.yaml
  cluster-cd/apps/bitty/monitoring/gatus/app/externalsecret.yaml
  cluster-cd/apps/bitty/monitoring/gatus/app/helmrelease.yaml
  cluster-cd/apps/bitty/monitoring/gatus/app/kustomization.yaml
  cluster-cd/apps/bitty/monitoring/gatus/app/rbac.yaml
  cluster-cd/apps/bitty/monitoring/gatus/ks.yaml
  cluster-cd/apps/bitty/monitoring/kustomization.yaml
  clusters/chongus/flux/vars/cluster-secrets.cho.yaml
Labels: area/kubernetes, cluster/bitty

Add Gatus to Bitty
  cluster-cd/apps/bitty/monitoring/gatus/app/kustomization.yaml
Labels: area/kubernetes, cluster/bitty

Add Gatus to Bitty
  cluster-cd/apps/bitty/monitoring/gatus/ks.yaml
Labels: area/kubernetes, cluster/bitty

Fix spelling in gatus config
  cluster-cd/apps/bitty/monitoring/gatus/app/config/config.yaml
Labels: area/kubernetes, cluster/bitty

Fix ingress class for gatus
  cluster-cd/apps/bitty/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

Fix ingress class for gatus
  cluster-cd/apps/bitty/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/bitty

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-cd/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/chongus/**/*
