Repository rtrox/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/bitty, cluster/chongus

Add default renovate configs
  .github/renovate.json5
Labels: area/ci

Trigger renovate check
  .github/renovate.json5
Labels: area/ci

Remove extraneous automerge-github-actions ref
  .github/renovate.json5
Labels: area/ci

Update Atuin Values for 3.0
  cluster-cd/apps/chongus/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Update all chongus values for app-template 3.0
  cluster-cd/apps/chongus/default/paperless-ngx/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/paperless-ngx/redis/helmrelease.yaml
  cluster-cd/apps/chongus/default/shlink/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/shlink/web/helmrelease.yaml
  cluster-cd/apps/chongus/home/scrypted/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Paperless name -> identifier on service ports
  cluster-cd/apps/chongus/default/paperless-ngx/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/paperless-ngx/redis/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Fix ports
  cluster-cd/apps/chongus/default/shlink/app/helmrelease.yaml
  cluster-cd/apps/chongus/home/scrypted/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Fix ports
  cluster-cd/apps/chongus/default/shlink/web/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Override with custom NFD option
  cluster-cd/apps/chongus/system/nvidia-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Update grafana keycloak config
  cluster-cd/apps/chongus/monitoring/grafana/app/values.yaml
Labels: area/kubernetes, cluster/chongus

Add ephemeral storage for compactor
  cluster-cd/apps/base/thanos/values.yaml
Labels: area/kubernetes

Add compactor persistence
  cluster-cd/apps/base/thanos/values.yaml
Labels: area/kubernetes

Up memory limits for external-dns to prevent OOMs
  cluster-cd/apps/base/external-dns/values.yaml
Labels: area/kubernetes

Upgrade flux
  clusters/chongus/flux/config/flux.yaml
Labels: none

Add vanilla plus minecraft server
  cluster-cd/apps/chongus/default/kustomization.yaml
  cluster-cd/apps/chongus/default/minecraft/app/externalsecret.yaml
  cluster-cd/apps/chongus/default/minecraft/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/minecraft/ks.yaml
  cluster-cd/repositories/helm/itzg-charts.yaml
  clusters/chongus/flux/vars/cluster-secrets.cho.yaml
Labels: area/kubernetes, cluster/chongus

Add vanilla plus minecraft server
  cluster-cd/repositories/helm/itzg.yaml
  cluster-cd/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Add volsync to minecraft
  cluster-cd/apps/chongus/default/minecraft/app/kustomization.yaml
Labels: area/kubernetes, cluster/chongus

Swap to BETTERMC for minecraft
  cluster-cd/apps/chongus/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Fix modpack url
  cluster-cd/apps/chongus/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Swap liveness probes
  cluster-cd/apps/chongus/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Swap to Create: Perfect World
  cluster-cd/apps/chongus/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Extend probe timeouts
  cluster-cd/apps/chongus/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Turn off onlineMode
  cluster-cd/apps/chongus/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Turn off onlineMode
  cluster-cd/apps/chongus/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Swap to AUTO_CURSEFORGE
  cluster-cd/apps/chongus/default/minecraft/app/externalsecret.yaml
  cluster-cd/apps/chongus/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Swap to AUTO_CURSEFORGE
  cluster-cd/apps/chongus/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Turn off onlineMode
  cluster-cd/apps/chongus/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

PublishNotReadyAddresses
  cluster-cd/apps/chongus/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

JVM Prefer IPv4
  cluster-cd/apps/chongus/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Change HR Name
  cluster-cd/apps/chongus/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Change HR Name
  cluster-cd/apps/chongus/default/kustomization.yaml
  cluster-cd/apps/chongus/default/minecraft-create-perfect-world/app/externalsecret.yaml
  cluster-cd/apps/chongus/default/minecraft-create-perfect-world/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/minecraft-create-perfect-world/app/kustomization.yaml
  cluster-cd/apps/chongus/default/minecraft-create-perfect-world/ks.yaml
Labels: area/kubernetes, cluster/chongus

Up readiness probe
  cluster-cd/apps/chongus/default/minecraft-create-perfect-world/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Move Jellyfin to Chongus
  cluster-cd/apps/chongus/media/jellyfin/app/deployment.yaml
  cluster-cd/apps/chongus/media/jellyfin/app/ingress.yaml
  cluster-cd/apps/chongus/media/jellyfin/app/kustomization.yaml
  cluster-cd/apps/chongus/media/jellyfin/app/restore.yaml
  cluster-cd/apps/chongus/media/jellyfin/app/service.yaml
  cluster-cd/apps/chongus/media/jellyfin/ks.yaml
  cluster-cd/apps/chongus/media/kustomization.yaml
  cluster-cd/apps/chongus/media/namespace.yaml
Labels: area/kubernetes, cluster/chongus

New seed for create perfect world
  cluster-cd/apps/chongus/default/kustomization.yaml
  cluster-cd/apps/chongus/default/mincraft-cpw/app/externalsecret.yaml
  cluster-cd/apps/chongus/default/mincraft-cpw/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/mincraft-cpw/app/kustomization.yaml
  cluster-cd/apps/chongus/default/mincraft-cpw/ks.yaml
Labels: area/kubernetes, cluster/chongus

Fix naming
  cluster-cd/apps/chongus/default/minecraft-cpw/app/externalsecret.yaml
  cluster-cd/apps/chongus/default/minecraft-cpw/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/minecraft-cpw/app/kustomization.yaml
  cluster-cd/apps/chongus/default/minecraft-cpw/ks.yaml
Labels: area/kubernetes, cluster/chongus

Fix naming
  cluster-cd/apps/chongus/default/minecraft-cpw/ks.yaml
Labels: area/kubernetes, cluster/chongus

Fix seed
  cluster-cd/apps/chongus/default/minecraft-cpw/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Extend timeout for minecraft HRs
  cluster-cd/apps/chongus/default/minecraft-cpw/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/minecraft-create-perfect-world/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

Tune readiness probes to hr timeout
  cluster-cd/apps/chongus/default/minecraft-cpw/app/helmrelease.yaml
  cluster-cd/apps/chongus/default/minecraft-create-perfect-world/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

timeout again?
  cluster-cd/apps/chongus/default/minecraft-cpw/app/helmrelease.yaml
Labels: area/kubernetes, cluster/chongus

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "cluster-cd/**/*"
# Cluster
cluster/bitty:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/bitty/**/*
cluster/chongus:
  - changed-files:
      - any-glob-to-any-file: cluster-cd/apps/chongus/**/*
